openapi: 3.1.0
info:
  title: Pantedu API
  version: 1.0.0
  description: |
    REST API per Pantedu — piattaforma educativa di didattica della fisica.

    **Generato automaticamente** da `tools/api/generate_openapi.php`. Le
    annotazioni request/response schema sui 30 endpoint critici sono manuali
    (sezione `paths` di `docs/api/openapi.yaml`).

    Auth: session cookie (PANTEDU_SID, httponly, samesite=Lax) o Bearer
    token solo su `/metrics`.
  contact:
    name: DPO Pantedu
    url: https://pantedu.eu/dpo-contact
  license:
    name: Proprietary
servers:
  - url: https://www.pantedu.eu
    description: Production
  - url: http://pantedu.local
    description: Local dev (XAMPP)

tags:
  - name: Misc
  - name: Auth
  - name: 'GDPR self-service (Art. 7/15-22)'
  - name: 'GDPR parent consent (Art. 8)'
  - name: 'GDPR DPO contact (Art. 12-22, 37-39)'
  - name: 'Trust Pages'
  - name: Observability
  - name: Registration
  - name: 'API Public'
  - name: Storage
  - name: Studio
  - name: 'Admin UI'
  - name: 'Teacher Content'
  - name: Risdoc
  - name: 'Risdoc Templates'
  - name: Admin

components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: PANTEDU_SID
      description: Session cookie httponly + samesite=Lax + secure (prod).
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token (solo su `/metrics`, env METRICS_BEARER_TOKEN).
    csrfHeader:
      type: apiKey
      in: header
      name: X-CSRF-Token
      description: |
        Token CSRF richiesto su POST/PUT/PATCH/DELETE. Recuperabile via
        GET /auth/csrf. Alternativa: campo form `_csrf`.
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string, example: invalid_credentials }
        retry_after: { type: integer, description: Seconds before retry (rate limit) }
    Success:
      type: object
      properties:
        ok: { type: boolean, example: true }
    User:
      type: object
      properties:
        id: { type: integer }
        username: { type: string }
        role: { type: string, enum: [guest, student, teacher, collaborator, administrator] }
        email: { type: string, format: email }
        first_name: { type: string }
        last_name: { type: string }
        active: { type: boolean }
    Consent:
      type: object
      properties:
        consent_type: { type: string, enum: [analytics, marketing, parent_8_minor] }
        status: { type: string, enum: [granted, revoked] }
        granted_at: { type: string, format: date-time }
        revoked_at: { type: string, format: date-time, nullable: true }
        text_version: { type: string }
    DeletionRequest:
      type: object
      properties:
        id: { type: integer }
        status: { type: string, enum: [pending_confirm, cooling_off, executed, cancelled, expired] }
        execute_after: { type: string, format: date-time, nullable: true }
    TeacherContent:
      type: object
      properties:
        id: { type: integer }
        teacher_id: { type: integer }
        content_type: { type: string, enum: [esercizio, verifica, lab, mappa, risdoc, bes] }
        subject_code: { type: string, example: MAT }
        indirizzo: { type: string, example: ITIA }
        classe: { type: string, example: 3A }
        topic: { type: string }
        title: { type: string }
        visibility: { type: string, enum: [draft, published, archived] }
        metadata: { type: object, additionalProperties: true }
        updated_at: { type: string, format: date-time }
  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: CSRF token invalid or insufficient privileges
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ValidationError:
      description: Invalid input (missing/malformed field)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

security:
  - sessionAuth: []

paths:
  /:
    get:
      tags: [Misc]
      operationId: indexHomeController
      summary: 'Index (HomeController)'
      x-controller: HomeController::index
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /Elementi_Riservati.html:
    get:
      tags: [Misc]
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: AdminPartialController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Misc]
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: AdminPartialController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    put:
      tags: [Misc]
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: AdminPartialController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    patch:
      tags: [Misc]
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: AdminPartialController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Misc]
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: AdminPartialController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /admin:
    get:
      tags: ['Admin UI']
      operationId: dashboardAdminController
      summary: 'Dashboard (AdminController)'
      x-controller: AdminController::dashboard
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /admin/access-log:
    get:
      tags: ['Admin UI']
      operationId: accesslogAdminController
      summary: 'Access Log (AdminController)'
      x-controller: AdminController::accessLog
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /admin/access-stats:
    get:
      tags: ['Admin UI']
      operationId: accessstatsAdminController
      summary: 'Access Stats (AdminController)'
      x-controller: AdminController::accessStats
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /admin/analytics:
    get:
      tags: ['Admin UI']
      operationId: pageAdminAnalyticsController
      summary: 'Page (AdminAnalyticsController)'
      x-controller: AdminAnalyticsController::page
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /admin/curriculum:
    get:
      tags: ['Admin UI']
      operationId: editorpageCurriculumController
      summary: 'Editor Page (CurriculumController)'
      x-controller: CurriculumController::editorPage
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /admin/dashboard:
    get:
      tags: ['Admin UI']
      operationId: dashboardAdminController
      summary: 'Dashboard (AdminController)'
      x-controller: AdminController::dashboard
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /admin/debug-log:
    get:
      tags: ['Admin UI']
      operationId: debuglogAdminController
      summary: 'Debug Log (AdminController)'
      x-controller: AdminController::debugLog
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /admin/infrastructure:
    get:
      tags: ['Admin UI']
      operationId: pageAdminInfrastructureController
      summary: 'Page (AdminInfrastructureController)'
      x-controller: AdminInfrastructureController::page
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /admin/registrations:
    get:
      tags: ['Admin UI']
      operationId: listpendingRegistrationController
      summary: 'List Pending (RegistrationController)'
      x-controller: RegistrationController::listPending
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /admin/risdoc:
    get:
      tags: ['Admin UI']
      operationId: pageRisdocAdminController
      summary: 'Page (RisdocAdminController)'
      x-controller: RisdocAdminController::page
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /admin/tools:
    get:
      tags: ['Admin UI']
      operationId: pageAdminToolsController
      summary: 'Page (AdminToolsController)'
      x-controller: AdminToolsController::page
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /admin/tools/hash:
    get:
      tags: ['Admin UI']
      operationId: hashtoolpageAdminController
      summary: 'Hash Tool Page (AdminController)'
      x-controller: AdminController::hashToolPage
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /admin/whoami:
    get:
      tags: ['Admin UI']
      operationId: whoamiAdminController
      summary: 'Who Am I (AdminController)'
      x-controller: AdminController::whoAmI
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /analytics/nav:
    post:
      tags: [Misc]
      operationId: navbeaconAnalyticsController
      summary: 'Nav Beacon (AnalyticsController)'
      x-controller: AnalyticsController::navBeacon
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /api/access/status:
    get:
      tags: ['API Public']
      operationId: studentstatusTeacherCredentialController
      summary: 'Student Status (TeacherCredentialController)'
      x-controller: TeacherCredentialController::studentStatus
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/access/student-login:
    post:
      tags: ['API Public']
      operationId: studentloginTeacherCredentialController
      summary: 'Student Login (TeacherCredentialController)'
      x-controller: TeacherCredentialController::studentLogin
      x-middleware: [csrf, rate]
      security:
        - sessionAuth: []
          csrfHeader: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /api/access/student-logout:
    post:
      tags: ['API Public']
      operationId: studentlogoutTeacherCredentialController
      summary: 'Student Logout (TeacherCredentialController)'
      x-controller: TeacherCredentialController::studentLogout
      x-middleware: [csrf]
      security:
        - sessionAuth: []
          csrfHeader: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /api/admin/analytics:
    get:
      tags: [Admin]
      operationId: snapshotAdminAnalyticsController
      summary: 'Snapshot (AdminAnalyticsController)'
      x-controller: AdminAnalyticsController::snapshot
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/admin/analytics/cross-search:
    get:
      tags: [Admin]
      operationId: crosssearchAdminAnalyticsController
      summary: 'Cross Search (AdminAnalyticsController)'
      x-controller: AdminAnalyticsController::crossSearch
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/admin/analytics/teacher/{id}':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Admin]
      operationId: forteacherAdminAnalyticsController
      summary: 'For Teacher (AdminAnalyticsController)'
      x-controller: AdminAnalyticsController::forTeacher
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/admin/infrastructure.json:
    get:
      tags: [Admin]
      operationId: snapshotjsonAdminInfrastructureController
      summary: 'Snapshot Json (AdminInfrastructureController)'
      x-controller: AdminInfrastructureController::snapshotJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/admin/notifications:
    get:
      tags: [Admin]
      operationId: notificationsAdminController
      summary: 'Notifications (AdminController)'
      x-controller: AdminController::notifications
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/admin/risdoc/drift:
    get:
      tags: [Admin]
      operationId: driftlistRisdocAdminController
      summary: 'Drift List (RisdocAdminController)'
      x-controller: RisdocAdminController::driftList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/admin/risdoc/teachers:
    get:
      tags: [Admin]
      operationId: teacherslistRisdocAdminController
      summary: 'Teachers List (RisdocAdminController)'
      x-controller: RisdocAdminController::teachersList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/admin/risdoc/templates:
    get:
      tags: [Admin]
      operationId: templateslistRisdocAdminController
      summary: 'Templates List (RisdocAdminController)'
      x-controller: RisdocAdminController::templatesList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/admin/risdoc/templates/{id}':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Admin]
      operationId: templatedetailRisdocAdminController
      summary: 'Template Detail (RisdocAdminController)'
      x-controller: RisdocAdminController::templateDetail
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/admin/security/anomalies:
    get:
      tags: [Admin]
      operationId: anomaliesSecurityAdminController
      summary: 'Anomalies (SecurityAdminController)'
      x-controller: SecurityAdminController::anomalies
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/admin/security/blocked-credentials:
    get:
      tags: [Admin]
      operationId: listblockedcredentialsSecurityAdminController
      summary: 'List Blocked Credentials (SecurityAdminController)'
      x-controller: SecurityAdminController::listBlockedCredentials
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/admin/security/blocked-ips:
    get:
      tags: [Admin]
      operationId: listblockedipsSecurityAdminController
      summary: 'List Blocked Ips (SecurityAdminController)'
      x-controller: SecurityAdminController::listBlockedIps
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/admin/security/config:
    get:
      tags: [Admin]
      operationId: getconfigSecurityAdminController
      summary: 'Get Config (SecurityAdminController)'
      x-controller: SecurityAdminController::getConfig
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/admin/users:
    get:
      tags: [Admin]
      operationId: indexUsersAdminController
      summary: 'Index (UsersAdminController)'
      x-controller: UsersAdminController::index
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/institutes:
    get:
      tags: ['API Public']
      operationId: indexInstituteController
      summary: 'Index (InstituteController)'
      x-controller: InstituteController::index
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/risdoc/compilations/{id}':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['Risdoc Templates']
      operationId: showCompilationController
      summary: 'Show (CompilationController)'
      x-controller: CompilationController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/risdoc/exports/{file}':
    parameters:
      - name: file
        in: path
        required: true
        schema: { type: string }
    get:
      tags: ['Risdoc Templates']
      operationId: serveExportController
      summary: 'Serve (ExportController)'
      x-controller: ExportController::serve
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/risdoc/options-sources:
    get:
      tags: ['Risdoc Templates']
      operationId: optionssourcesTemplateController
      summary: 'Options Sources (TemplateController)'
      x-controller: TemplateController::optionsSources
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/risdoc/shared/{file}':
    parameters:
      - name: file
        in: path
        required: true
        schema: { type: string }
    get:
      tags: ['Risdoc Templates']
      operationId: sharedassetTemplateController
      summary: 'Shared Asset (TemplateController)'
      x-controller: TemplateController::sharedAsset
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/risdoc/teacher/instances:
    get:
      tags: ['Risdoc Templates']
      operationId: teacherallinstancesTemplateController
      summary: 'Teacher All Instances (TemplateController)'
      x-controller: TemplateController::teacherAllInstances
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/risdoc/templates:
    get:
      tags: ['Risdoc Templates']
      operationId: indexTemplateController
      summary: 'Index (TemplateController)'
      x-controller: TemplateController::index
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/risdoc/templates/{id}':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['Risdoc Templates']
      operationId: showTemplateController
      summary: 'Show (TemplateController)'
      x-controller: TemplateController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/risdoc/templates/{id}/compilations':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['Risdoc Templates']
      operationId: indexCompilationController
      summary: 'Index (CompilationController)'
      x-controller: CompilationController::index
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/risdoc/templates/{id}/drift':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['Risdoc Templates']
      operationId: driftstatusTemplateController
      summary: 'Drift Status (TemplateController)'
      x-controller: TemplateController::driftStatus
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/risdoc/templates/{id}/file':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['Risdoc Templates']
      operationId: fileTemplateController
      summary: 'File (TemplateController)'
      x-controller: TemplateController::file
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/risdoc/templates/{id}/instances':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['Risdoc Templates']
      operationId: instanceslistTemplateController
      summary: 'Instances List (TemplateController)'
      x-controller: TemplateController::instancesList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/risdoc/templates/{id}/institutional-overrides':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['Risdoc Templates']
      operationId: institutionaloverrideslistTemplateController
      summary: 'Institutional Overrides List (TemplateController)'
      x-controller: TemplateController::institutionalOverridesList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/risdoc/templates/{id}/json-files':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['Risdoc Templates']
      operationId: jsonfilesTemplateController
      summary: 'Json Files (TemplateController)'
      x-controller: TemplateController::jsonFiles
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/risdoc/templates/{id}/overrides':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['Risdoc Templates']
      operationId: overrideslistTemplateController
      summary: 'Overrides List (TemplateController)'
      x-controller: TemplateController::overridesList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/risdoc/templates/{id}/schema':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['Risdoc Templates']
      operationId: schemaTemplateController
      summary: 'Schema (TemplateController)'
      x-controller: TemplateController::schema
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/risdoc/templates/{id}/tex':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['Risdoc Templates']
      operationId: texTemplateController
      summary: 'Tex (TemplateController)'
      x-controller: TemplateController::tex
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/scuole:
    get:
      tags: ['API Public']
      operationId: searchSchoolsController
      summary: 'Search (SchoolsController)'
      x-controller: SchoolsController::search
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/sidepage/topics:
    get:
      tags: ['API Public']
      operationId: topicsSidepageController
      summary: 'Topics (SidepageController)'
      x-controller: SidepageController::topics
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/sources/common:
    get:
      tags: ['API Public']
      operationId: sourcescommonjsonContentStudyController
      summary: 'Sources Common Json (ContentStudyController)'
      x-controller: ContentStudyController::sourcesCommonJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/studio/exercise/{id}.json':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['API Public']
      operationId: exercisejsonExerciseStudyController
      summary: 'Exercise Json (ExerciseStudyController)'
      x-controller: ExerciseStudyController::exerciseJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/studio/exercises.json:
    get:
      tags: ['API Public']
      operationId: exercisesjsonExerciseStudyController
      summary: 'Exercises Json (ExerciseStudyController)'
      x-controller: ExerciseStudyController::exercisesJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/studio/topics.json:
    get:
      tags: ['API Public']
      operationId: topicsjsonExerciseStudyController
      summary: 'Topics Json (ExerciseStudyController)'
      x-controller: ExerciseStudyController::topicsJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/study/content.json:
    get:
      tags: ['API Public']
      operationId: contentjsonContentStudyController
      summary: 'Content Json (ContentStudyController)'
      x-controller: ContentStudyController::contentJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/study/content/{id}.json':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['API Public']
      operationId: contentsinglejsonContentStudyController
      summary: 'Content Single Json (ContentStudyController)'
      x-controller: ContentStudyController::contentSingleJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/study/related-verifiche.html:
    get:
      tags: ['API Public']
      operationId: relatedverificahtmlContentStudyController
      summary: 'Related Verifica Html (ContentStudyController)'
      x-controller: ContentStudyController::relatedVerificaHtml
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/study/topics.json:
    get:
      tags: ['API Public']
      operationId: topicsjsonContentStudyController
      summary: 'Topics Json (ContentStudyController)'
      x-controller: ContentStudyController::topicsJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/teacher/checked-origins.json:
    get:
      tags: ['API Public']
      operationId: checkedoriginsjsonContentStudyController
      summary: 'Checked Origins Json (ContentStudyController)'
      x-controller: ContentStudyController::checkedOriginsJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      tags: ['API Public']
      operationId: checkedoriginssaveContentStudyController
      summary: 'Checked Origins Save (ContentStudyController)'
      x-controller: ContentStudyController::checkedOriginsSave
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /api/teacher/content:
    get:
      tags: ['Teacher Content']
      operationId: indexTeacherContentController
      summary: 'Index (TeacherContentController)'
      x-controller: TeacherContentController::index
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/teacher/content/{id}':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['Teacher Content']
      operationId: showTeacherContentController
      summary: 'Show (TeacherContentController)'
      x-controller: TeacherContentController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/teacher/content/{id}/contract':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['Teacher Content']
      operationId: contractTeacherContentController
      summary: 'Contract (TeacherContentController)'
      x-controller: TeacherContentController::contract
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/teacher/credentials:
    get:
      tags: ['API Public']
      operationId: indexTeacherCredentialController
      summary: 'Index (TeacherCredentialController)'
      x-controller: TeacherCredentialController::index
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/teacher/header-page.json:
    get:
      tags: ['API Public']
      operationId: headerpagejsonContentStudyController
      summary: 'Header Page Json (ContentStudyController)'
      x-controller: ContentStudyController::headerPageJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      tags: ['API Public']
      operationId: headerpagesaveContentStudyController
      summary: 'Header Page Save (ContentStudyController)'
      x-controller: ContentStudyController::headerPageSave
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /api/teacher/institutes:
    get:
      tags: ['API Public']
      operationId: listforteacherInstituteController
      summary: 'List For Teacher (InstituteController)'
      x-controller: InstituteController::listForTeacher
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/teacher/manifest/{type}':
    parameters:
      - name: type
        in: path
        required: true
        schema: { type: string }
    get:
      tags: ['API Public']
      operationId: manifestTeacherContentController
      summary: 'Manifest (TeacherContentController)'
      x-controller: TeacherContentController::manifest
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/teacher/origins.json:
    get:
      tags: ['API Public']
      operationId: originsjsonContentStudyController
      summary: 'Origins Json (ContentStudyController)'
      x-controller: ContentStudyController::originsJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/teacher/sidebar:
    get:
      tags: ['API Public']
      operationId: indexTeacherSidebarController
      summary: 'Index (TeacherSidebarController)'
      x-controller: TeacherSidebarController::index
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/teacher/sources.json:
    get:
      tags: ['API Public']
      operationId: sourcescommonjsonContentStudyController
      summary: 'Sources Common Json (ContentStudyController)'
      x-controller: ContentStudyController::sourcesCommonJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      tags: ['API Public']
      operationId: sourcessaveContentStudyController
      summary: 'Sources Save (ContentStudyController)'
      x-controller: ContentStudyController::sourcesSave
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /api/teacher/sources.registry.json:
    get:
      tags: ['API Public']
      operationId: sourcesregistryjsonContentStudyController
      summary: 'Sources Registry Json (ContentStudyController)'
      x-controller: ContentStudyController::sourcesRegistryJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      tags: ['API Public']
      operationId: sourcesregistrysaveContentStudyController
      summary: 'Sources Registry Save (ContentStudyController)'
      x-controller: ContentStudyController::sourcesRegistrySave
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /api/teacher/subjects:
    get:
      tags: ['API Public']
      operationId: listmineTeacherSubjectController
      summary: 'List Mine (TeacherSubjectController)'
      x-controller: TeacherSubjectController::listMine
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/teacher/templates.json:
    get:
      tags: ['API Public']
      operationId: templatesjsonTeacherContentController
      summary: 'Templates Json (TeacherContentController)'
      x-controller: TeacherContentController::templatesJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    put:
      tags: ['API Public']
      operationId: templatessaveTeacherContentController
      summary: 'Templates Save (TeacherContentController)'
      x-controller: TeacherContentController::templatesSave
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /api/verifiche:
    get:
      tags: ['API Public']
      operationId: listmineVerificaBuilderController
      summary: 'List Mine (VerificaBuilderController)'
      x-controller: VerificaBuilderController::listMine
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/api/verifiche/{id}':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: ['API Public']
      operationId: showVerificaBuilderController
      summary: 'Show (VerificaBuilderController)'
      x-controller: VerificaBuilderController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /auth/csrf:
    get:
      tags: [Auth]
      operationId: csrfAuthController
      summary: 'Csrf (AuthController)'
      x-controller: AuthController::csrf
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /auth/user-info:
    get:
      tags: [Auth]
      operationId: userinfoAuthController
      summary: 'User Info (AuthController)'
      x-controller: AuthController::userInfo
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /curriculum:
    get:
      tags: [Misc]
      operationId: indexCurriculumController
      summary: 'Index (CurriculumController)'
      x-controller: CurriculumController::index
      security: []  # Public endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
  /dpo-contact:
    get:
      tags: ['GDPR DPO contact (Art. 12-22, 37-39)']
      operationId: showDpoContactController
      summary: 'Show (DpoContactController)'
      x-controller: DpoContactController::show
      security: []  # Public endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
    post:
      tags: ['GDPR DPO contact (Art. 12-22, 37-39)']
      operationId: submitDpoContactController
      summary: 'Submit (DpoContactController)'
      x-controller: DpoContactController::submit
      x-middleware: ['rate:dpo,3']
      security: []  # Public endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /exercises:
    get:
      tags: [Misc]
      operationId: searchpageExerciseController
      summary: 'Search Page (ExerciseController)'
      x-controller: ExerciseController::searchPage
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /exercises/search.json:
    get:
      tags: [Misc]
      operationId: searchjsonExerciseController
      summary: 'Search Json (ExerciseController)'
      x-controller: ExerciseController::searchJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /files/list:
    get:
      tags: [Misc]
      operationId: listFileController
      summary: 'List (FileController)'
      x-controller: FileController::list
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/log/admin/{path*}':
    get:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    put:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    patch:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/log/auth/{path*}':
    get:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    put:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    patch:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/log/logging/{path*}':
    get:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    put:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    patch:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/log/logout/{path*}':
    get:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    put:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    patch:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/log/security/{path*}':
    get:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    put:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    patch:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Misc]
      operationId: showLogServeController
      summary: 'Show (LogServeController)'
      x-controller: LogServeController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /login:
    get:
      tags: [Auth]
      operationId: showloginAuthController
      summary: 'Show Login (AuthController)'
      x-controller: AuthController::showLogin
      security: []  # Public endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
    post:
      tags: [Auth]
      operationId: loginAuthController
      summary: 'Login (AuthController)'
      x-controller: AuthController::login
      x-middleware: [csrf, 'rate:login,10']
      security: []  # Public endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /logout:
    get:
      tags: [Misc]
      operationId: logoutAuthController
      summary: 'Logout (AuthController)'
      x-controller: AuthController::logout
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Misc]
      operationId: logoutAuthController
      summary: 'Logout (AuthController)'
      x-controller: AuthController::logout
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    put:
      tags: [Misc]
      operationId: logoutAuthController
      summary: 'Logout (AuthController)'
      x-controller: AuthController::logout
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    patch:
      tags: [Misc]
      operationId: logoutAuthController
      summary: 'Logout (AuthController)'
      x-controller: AuthController::logout
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Misc]
      operationId: logoutAuthController
      summary: 'Logout (AuthController)'
      x-controller: AuthController::logout
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /me/cancel-deletion:
    post:
      tags: ['GDPR self-service (Art. 7/15-22)']
      operationId: canceldeletionSelfServiceController
      summary: 'Cancel Deletion (SelfServiceController)'
      x-controller: SelfServiceController::cancelDeletion
      x-middleware: [csrf]
      security:
        - sessionAuth: []
          csrfHeader: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /me/change-password:
    get:
      tags: ['GDPR self-service (Art. 7/15-22)']
      operationId: showchangepasswordUserProfileController
      summary: 'Show Change Password (UserProfileController)'
      x-controller: UserProfileController::showChangePassword
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: ['GDPR self-service (Art. 7/15-22)']
      operationId: changepasswordUserProfileController
      summary: 'Change Password (UserProfileController)'
      x-controller: UserProfileController::changePassword
      x-middleware: [csrf]
      security:
        - sessionAuth: []
          csrfHeader: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /me/confirm-deletion:
    get:
      tags: ['GDPR self-service (Art. 7/15-22)']
      operationId: confirmdeletionSelfServiceController
      summary: 'Confirm Deletion (SelfServiceController)'
      x-controller: SelfServiceController::confirmDeletion
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /me/consents:
    get:
      tags: ['GDPR self-service (Art. 7/15-22)']
      operationId: consentslistSelfServiceController
      summary: 'Consents List (SelfServiceController)'
      x-controller: SelfServiceController::consentsList
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /me/consents/grant:
    post:
      tags: ['GDPR self-service (Art. 7/15-22)']
      operationId: consentgrantSelfServiceController
      summary: 'Consent Grant (SelfServiceController)'
      x-controller: SelfServiceController::consentGrant
      x-middleware: [csrf]
      security:
        - sessionAuth: []
          csrfHeader: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /me/consents/revoke:
    post:
      tags: ['GDPR self-service (Art. 7/15-22)']
      operationId: consentrevokeSelfServiceController
      summary: 'Consent Revoke (SelfServiceController)'
      x-controller: SelfServiceController::consentRevoke
      x-middleware: [csrf]
      security:
        - sessionAuth: []
          csrfHeader: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /me/deletion-status:
    get:
      tags: ['GDPR self-service (Art. 7/15-22)']
      operationId: deletionstatusSelfServiceController
      summary: 'Deletion Status (SelfServiceController)'
      x-controller: SelfServiceController::deletionStatus
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /me/export-data:
    get:
      tags: ['GDPR self-service (Art. 7/15-22)']
      operationId: exportdataSelfServiceController
      summary: 'Export Data (SelfServiceController)'
      x-controller: SelfServiceController::exportData
      x-middleware: ['rate:export,3']
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /me/profile:
    post:
      tags: ['GDPR self-service (Art. 7/15-22)']
      operationId: profilepatchSelfServiceController
      summary: 'Profile Patch (SelfServiceController)'
      x-controller: SelfServiceController::profilePatch
      x-middleware: [csrf]
      security:
        - sessionAuth: []
          csrfHeader: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /me/request-deletion:
    post:
      tags: ['GDPR self-service (Art. 7/15-22)']
      operationId: requestdeletionSelfServiceController
      summary: 'Request Deletion (SelfServiceController)'
      x-controller: SelfServiceController::requestDeletion
      x-middleware: [csrf, 'rate:deletion,5']
      security:
        - sessionAuth: []
          csrfHeader: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /metrics:
    get:
      tags: [Observability]
      operationId: showMetricsController
      summary: 'Show (MetricsController)'
      x-controller: MetricsController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /modelli_tikz.json:
    get:
      tags: [Misc]
      operationId: showTikzDataController
      summary: 'Show (TikzDataController)'
      x-controller: TikzDataController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /modelli_tikz_elements.json:
    get:
      tags: [Misc]
      operationId: showTikzDataController
      summary: 'Show (TikzDataController)'
      x-controller: TikzDataController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /modelli_tikz_traccia.json:
    get:
      tags: [Misc]
      operationId: showTikzDataController
      summary: 'Show (TikzDataController)'
      x-controller: TikzDataController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /modello_pag_listSidebar.php:
    get:
      tags: [Misc]
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: AdminPartialController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Misc]
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: AdminPartialController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    put:
      tags: [Misc]
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: AdminPartialController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    patch:
      tags: [Misc]
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: AdminPartialController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/ValidationError' }
    delete:
      tags: [Misc]
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: AdminPartialController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/parent-consent/{token}':
    parameters:
      - name: token
        in: path
        required: true
        schema: { type: string }
    get:
      tags: ['GDPR parent consent (Art. 8)']
      operationId: previewParentConsentController
      summary: 'Preview (ParentConsentController)'
      x-controller: ParentConsentController::preview
      security: []  # Public endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
    post:
      tags: ['GDPR parent consent (Art. 8)']
      operationId: confirmParentConsentController
      summary: 'Confirm (ParentConsentController)'
      x-controller: ParentConsentController::confirm
      security: []  # Public endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '400': { $ref: '#/components/responses/ValidationError' }
  /privacy/informativa:
    get:
      tags: ['Trust Pages']
      operationId: informativaTrustPagesController
      summary: 'Informativa (TrustPagesController)'
      x-controller: TrustPagesController::informativa
      security: []  # Public endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
  /privacy/your-data:
    get:
      tags: ['Trust Pages']
      operationId: yourdataTrustPagesController
      summary: 'Your Data (TrustPagesController)'
      x-controller: TrustPagesController::yourData
      security: []  # Public endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
  /register:
    get:
      tags: [Registration]
      operationId: showformRegistrationController
      summary: 'Show Form (RegistrationController)'
      x-controller: RegistrationController::showForm
      security: []  # Public endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
    post:
      tags: [Registration]
      operationId: submitRegistrationController
      summary: 'Submit (RegistrationController)'
      x-controller: RegistrationController::submit
      x-middleware: [csrf]
      security: []  # Public endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '400': { $ref: '#/components/responses/ValidationError' }
  '/risdoc/edit/{id}':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Risdoc]
      operationId: showTemplateEditorController
      summary: 'Show (TemplateEditorController)'
      x-controller: TemplateEditorController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/risdoc/view/{id}':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Risdoc]
      operationId: showTemplateViewController
      summary: 'Show (TemplateViewController)'
      x-controller: TemplateViewController::show
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/risdoc/{category}/php/{filename}':
    parameters:
      - name: category
        in: path
        required: true
        schema: { type: string }
      - name: filename
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Risdoc]
      operationId: showbylegacypathTemplateViewController
      summary: 'Show By Legacy Path (TemplateViewController)'
      x-controller: TemplateViewController::showByLegacyPath
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/risdoc/{path*}':
    get:
      tags: [Risdoc]
      operationId: legacypathTemplateController
      summary: 'Legacy Path (TemplateController)'
      x-controller: TemplateController::legacyPath
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /security:
    get:
      tags: ['Trust Pages']
      operationId: securityTrustPagesController
      summary: 'Security (TrustPagesController)'
      x-controller: TrustPagesController::security
      security: []  # Public endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
  /storage/signed:
    get:
      tags: [Storage]
      operationId: signedStorageController
      summary: 'Signed (StorageController)'
      x-controller: StorageController::signed
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/studio/{indirizzo}/{classe}/{materia}':
    parameters:
      - name: indirizzo
        in: path
        required: true
        schema: { type: string }
      - name: classe
        in: path
        required: true
        schema: { type: string }
      - name: materia
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Studio]
      operationId: topicspageExerciseStudyController
      summary: 'Topics Page (ExerciseStudyController)'
      x-controller: ExerciseStudyController::topicsPage
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/studio/{indirizzo}/{classe}/{materia}/{topic}':
    parameters:
      - name: indirizzo
        in: path
        required: true
        schema: { type: string }
      - name: classe
        in: path
        required: true
        schema: { type: string }
      - name: materia
        in: path
        required: true
        schema: { type: string }
      - name: topic
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Studio]
      operationId: topicpageExerciseStudyController
      summary: 'Topic Page (ExerciseStudyController)'
      x-controller: ExerciseStudyController::topicPage
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/studio/{type}/{ind}/{cls}/{subj}':
    parameters:
      - name: type
        in: path
        required: true
        schema: { type: string }
      - name: ind
        in: path
        required: true
        schema: { type: string }
      - name: cls
        in: path
        required: true
        schema: { type: string }
      - name: subj
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Studio]
      operationId: topicspageContentStudyController
      summary: 'Topics Page (ContentStudyController)'
      x-controller: ContentStudyController::topicsPage
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/studio/{type}/{ind}/{cls}/{subj}/{topic}':
    parameters:
      - name: type
        in: path
        required: true
        schema: { type: string }
      - name: ind
        in: path
        required: true
        schema: { type: string }
      - name: cls
        in: path
        required: true
        schema: { type: string }
      - name: subj
        in: path
        required: true
        schema: { type: string }
      - name: topic
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Studio]
      operationId: topicpageContentStudyController
      summary: 'Topic Page (ContentStudyController)'
      x-controller: ContentStudyController::topicPage
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /teacher:
    get:
      tags: [Misc]
      operationId: dashboardTeacherController
      summary: 'Dashboard (TeacherController)'
      x-controller: TeacherController::dashboard
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /teacher/dashboard:
    get:
      tags: [Misc]
      operationId: dashboardTeacherController
      summary: 'Dashboard (TeacherController)'
      x-controller: TeacherController::dashboard
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /teacher/resources:
    get:
      tags: [Misc]
      operationId: resourcesTeacherController
      summary: 'Resources (TeacherController)'
      x-controller: TeacherController::resources
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /teacher/templates:
    get:
      tags: [Misc]
      operationId: templatespageTeacherController
      summary: 'Templates Page (TeacherController)'
      x-controller: TeacherController::templatesPage
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /teacher/verifiche.json:
    get:
      tags: [Misc]
      operationId: verificheTeacherController
      summary: 'Verifiche (TeacherController)'
      x-controller: TeacherController::verifiche
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  '/teacher/verifiche/{id}/download':
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: integer }
    get:
      tags: [Misc]
      operationId: downloadverificaTeacherController
      summary: 'Download Verifica (TeacherController)'
      x-controller: TeacherController::downloadVerifica
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /tikz/content:
    get:
      tags: [Misc]
      operationId: contentTikzController
      summary: 'Content (TikzController)'
      x-controller: TikzController::content
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /tikz/ensure-json:
    get:
      tags: [Misc]
      operationId: ensurejsonTikzController
      summary: 'Ensure Json (TikzController)'
      x-controller: TikzController::ensureJson
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Success' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /tikz/render:
    get:
      tags: [Misc]
      operationId: lookupTikzRenderController
      summary: 'TikZ render cache lookup (TikzRenderController) — G22.S15'
      description: |
        Cerca un SVG TikZ in cache senza compilare. Hash = SHA-256 del
        sorgente TikZ normalizzato (vedi TikzRenderService::normalize).
        Scope: public (no auth) o teacher (Auth::user()['id'] required).
      x-controller: TikzRenderController::lookup
      parameters:
        - name: hash
          in: query
          required: true
          schema: { type: string, pattern: '^[a-f0-9]{64}$' }
        - name: scope
          in: query
          schema: { type: string, enum: [public, teacher], default: public }
      responses:
        '200':
          description: Cache hit, ritorna SVG inline
          content:
            image/svg+xml:
              schema: { type: string }
        '404':
          description: Cache miss
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Misc]
      operationId: renderTikzRenderController
      summary: 'TikZ render compile-on-demand (TikzRenderController) — G22.S15'
      description: |
        Cache-or-compile. Se hash MISS, invoca VPS /render-tikz, salva
        cache e ritorna SVG. Scope teacher cifrato envelope per docente
        (ADR-006). Vedi ADR-013.
      x-controller: TikzRenderController::render
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tikz, scope]
              properties:
                tikz:               { type: string, maxLength: 1048576 }
                scope:              { type: string, enum: [public, teacher] }
                libraries:          { type: array, items: { type: string } }
                pgfplots_libraries: { type: array, items: { type: string } }
                extra_packages:     { type: array, items: { type: string } }
                border:             { type: string, default: '2pt' }
      responses:
        '200':
          description: SVG generato (cache o compile)
          content:
            image/svg+xml:
              schema: { type: string }
        '422':
          description: Errore di compilazione TikZ
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:    { type: boolean, enum: [false] }
                  error: { type: string }
                  log:   { type: string }
        '503':
          description: VPS endpoint non configurato (TEX_COMPILE_ENDPOINT vuoto)
        '401': { $ref: '#/components/responses/Unauthorized' }
