openapi: 3.1.0
info:
  title: 'Pantedu API'
  version: 1.0.0
  description: |
    REST API per Pantedu, la piattaforma didattica.

    **Generato automaticamente** da `tools/api/generate_openapi.php`. Le
    annotazioni request/response schema sui 30 endpoint critici sono manuali
    (sezione `paths` di `docs/api/openapi.yaml`).

    Auth: session cookie (PANTEDU_SID, httponly, samesite=Lax) o Bearer
    token solo su `/metrics`.
  contact:
    name: 'DPO Pantedu'
    url: 'https://pantedu.eu/dpo-contact'
  license:
    name: Proprietary
servers:
  -
    url: 'https://www.pantedu.eu'
    description: Production
  -
    url: 'http://pantedu.local'
    description: 'Local dev (XAMPP)'
tags:
  -
    name: Misc
  -
    name: 'API Public'
  -
    name: Auth
  -
    name: 'GDPR self-service (Art. 7/15-22)'
  -
    name: 'GDPR parent consent (Art. 8)'
  -
    name: 'GDPR DPO contact (Art. 12-22, 37-39)'
  -
    name: 'Admin UI'
  -
    name: Admin
  -
    name: 'Trust Pages'
  -
    name: Observability
  -
    name: Registration
  -
    name: Storage
  -
    name: Studio
  -
    name: 'Teacher Content'
  -
    name: Risdoc
  -
    name: 'Risdoc Templates'
components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: PANTEDU_SID
      description: 'Session cookie httponly + samesite=Lax + secure (prod).'
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token (solo su `/metrics`, env METRICS_BEARER_TOKEN).'
    csrfHeader:
      type: apiKey
      in: header
      name: X-CSRF-Token
      description: |
        Token CSRF richiesto su POST/PUT/PATCH/DELETE. Recuperabile via
        GET /auth/csrf. Alternativa: campo form `_csrf`.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          example: invalid_credentials
        retry_after:
          type: integer
          description: 'Seconds before retry (rate limit)'
    Success:
      type: object
      properties:
        ok:
          type: boolean
          example: true
    User:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        role:
          type: string
          enum:
            - guest
            - student
            - teacher
            - collaborator
            - administrator
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        active:
          type: boolean
    Consent:
      type: object
      properties:
        consent_type:
          type: string
          enum:
            - analytics
            - marketing
            - parent_8_minor
        status:
          type: string
          enum:
            - granted
            - revoked
        granted_at:
          type: string
          format: date-time
        revoked_at:
          type: string
          format: date-time
          nullable: true
        text_version:
          type: string
    DeletionRequest:
      type: object
      properties:
        id:
          type: integer
        status:
          type: string
          enum:
            - pending_confirm
            - cooling_off
            - executed
            - cancelled
            - expired
        execute_after:
          type: string
          format: date-time
          nullable: true
    TeacherContent:
      type: object
      properties:
        id:
          type: integer
        teacher_id:
          type: integer
        content_type:
          type: string
          enum:
            - esercizio
            - verifica
            - lab
            - mappa
            - risdoc
            - bes
        subject_code:
          type: string
          example: MAT
        indirizzo:
          type: string
          example: ITIA
        classe:
          type: string
          example: 3A
        topic:
          type: string
        title:
          type: string
        visibility:
          type: string
          enum:
            - draft
            - published
            - archived
        metadata:
          type: object
          additionalProperties: true
        updated_at:
          type: string
          format: date-time
    LoginRequest:
      type: object
      required:
        - username
        - password
        - _csrf
      properties:
        username:
          type: string
          maxLength: 50
          example: docente1
        password:
          type: string
          format: password
          minLength: 8
          example: ••••••••
        _csrf:
          type: string
          description: 'CSRF token from GET /auth/csrf'
        redirect:
          type: string
          description: 'Path to redirect after successful login (whitelist /-prefixed only)'
          example: /
    LoginSuccess:
      type: object
      properties:
        ok:
          type: boolean
          example: true
        username:
          type: string
        role:
          type: string
          enum:
            - student
            - teacher
            - collaborator
            - administrator
    RegistrationRequest:
      type: object
      required:
        - username
        - email
        - password
        - first_name
        - last_name
        - role
        - accept_tos
        - _csrf
      properties:
        username:
          type: string
          maxLength: 50
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
        first_name:
          type: string
          maxLength: 100
        last_name:
          type: string
          maxLength: 100
        role:
          type: string
          enum:
            - student
            - teacher
        institute_id:
          type: integer
          description: 'Required for student role'
        birth_date:
          type: string
          format: date
          description: |
            Required if role=student. Birth date YYYY-MM-DD.
            Se età < 14 (Italia D.Lgs. 101/2018), richiede `parent_email`.
        parent_email:
          type: string
          format: email
          description: |
            Required if studente minore (< 14 anni). Innesca workflow Art. 8 GDPR
            con doppio opt-in genitore (token TTL 30g).
        parent_name:
          type: string
          description: 'Optional, for personalized parent email greeting'
        accept_tos:
          type: boolean
          description: 'Must be true (Art. 7 GDPR)'
        _csrf:
          type: string
    ConsentGrantRequest:
      type: object
      required:
        - consent_type
        - _csrf
      properties:
        consent_type:
          type: string
          enum:
            - analytics
            - marketing
            - parent_8_minor
        text_version:
          type: string
          description: 'Version of informativa to consent to (e.g. v2.0)'
        _csrf:
          type: string
    ConsentList:
      type: object
      properties:
        consents:
          type: array
          items:
            $ref: '#/components/schemas/Consent'
    DeletionRequestSubmit:
      type: object
      required:
        - _csrf
      properties:
        reason:
          type: string
          maxLength: 500
          description: 'Optional reason text'
        _csrf:
          type: string
    DeletionRequestSuccess:
      type: object
      properties:
        ok:
          type: boolean
        request_id:
          type: integer
        confirm_token_sent_to:
          type: string
          format: email
          description: 'User email — token in email body, not in API response'
    ParentConsentConfirmRequest:
      type: object
      required:
        - _csrf
      properties:
        action:
          type: string
          enum:
            - confirm
            - reject
        _csrf:
          type: string
    ProfilePatchRequest:
      type: object
      properties:
        first_name:
          type: string
          maxLength: 100
        last_name:
          type: string
          maxLength: 100
        email:
          type: string
          format: email
        _csrf:
          type: string
    ExportData:
      type: object
      description: |
        GDPR Art. 20 portability — user data + consents + content + overrides.
        Returned as JSON download (Content-Disposition: attachment).
      properties:
        user:
          $ref: '#/components/schemas/User'
        consents:
          type: array
          items:
            $ref: '#/components/schemas/Consent'
        teacher_content:
          type: array
          items:
            $ref: '#/components/schemas/TeacherContent'
        risdoc_overrides:
          type: array
          items:
            type: object
            properties:
              template_id:
                type: integer
              instance_key:
                type: string
              kind:
                type: string
                enum:
                  - html
                  - tex
                  - css
                  - json
                  - image
                  - texCommon
              relative_path:
                type: string
              body:
                type: string
                nullable: true
        exported_at:
          type: string
          format: date-time
    DpoContactRequest:
      type: object
      required:
        - name
        - email
        - subject
        - message
      properties:
        name:
          type: string
          maxLength: 100
        email:
          type: string
          format: email
        subject:
          type: string
          enum:
            - access
            - rectification
            - erasure
            - portability
            - restriction
            - objection
            - consent_revoke
            - breach_report
            - other
        message:
          type: string
          maxLength: 5000
        url_field:
          type: string
          description: 'Honeypot anti-spam — must be empty'
          example: ''
    TeacherContentList:
      type: object
      properties:
        ok:
          type: boolean
        count:
          type: integer
        rows:
          type: array
          items:
            $ref: '#/components/schemas/TeacherContent'
    MetricsResponse:
      type: string
      description: |
        Prometheus exposition format text/plain version=0.0.4. Gauge + counter
        aggregati: users_total, teacher_content_total, consents_active_total,
        deletion_requests_total, dpo_requests_total, parent_consents_total,
        crypto_keys_total, crypto_access_24h_total, app_info.
      example: |
        # HELP pantedu_app_info Application info
        # TYPE pantedu_app_info gauge
        pantedu_app_info{version="25.E"} 1
        # HELP pantedu_users_total Users by role and status
        # TYPE pantedu_users_total gauge
        pantedu_users_total{role="teacher",status="active"} 12
  responses:
    Unauthorized:
      description: 'Authentication required'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: 'CSRF token invalid or insufficient privileges'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 'Resource not found'
    RateLimited:
      description: 'Rate limit exceeded'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: 'Invalid input (missing/malformed field)'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
security:
  -
    sessionAuth: {  }
paths:
  /:
    get:
      tags:
        - Misc
      operationId: indexHomeController
      summary: 'Index (HomeController)'
      x-controller: 'HomeController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /Elementi_Riservati.html:
    get:
      tags:
        - Misc
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: 'AdminPartialController::show'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Misc
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: 'AdminPartialController::show'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/ValidationError'
    put:
      tags:
        - Misc
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: 'AdminPartialController::show'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/ValidationError'
    patch:
      tags:
        - Misc
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: 'AdminPartialController::show'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Misc
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: 'AdminPartialController::show'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /accessibility:
    get:
      tags:
        - Misc
      operationId: accessibilityTrustPagesController
      summary: 'Accessibility (TrustPagesController)'
      x-controller: 'TrustPagesController::accessibility'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin:
    get:
      tags:
        - 'Admin UI'
      operationId: dashboardAdminController
      summary: 'Dashboard (AdminController)'
      x-controller: 'AdminController::dashboard'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/backup:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminBackupController
      summary: 'Index (AdminBackupController)'
      x-controller: 'AdminBackupController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/backup/b2-verified:
    post:
      tags:
        - 'Admin UI'
      operationId: b2verifiedAdminBackupController
      summary: 'B2Verified (AdminBackupController)'
      x-controller: 'AdminBackupController::b2Verified'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/backup/cold-completed:
    post:
      tags:
        - 'Admin UI'
      operationId: coldcompletedAdminBackupController
      summary: 'Cold Completed (AdminBackupController)'
      x-controller: 'AdminBackupController::coldCompleted'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/crypto-status:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminCryptoStatusController
      summary: 'Index (AdminCryptoStatusController)'
      x-controller: 'AdminCryptoStatusController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/crypto-status/event:
    post:
      tags:
        - 'Admin UI'
      operationId: recordeventAdminCryptoStatusController
      summary: 'Record Event (AdminCryptoStatusController)'
      x-controller: 'AdminCryptoStatusController::recordEvent'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/crypto-status/export:
    get:
      tags:
        - 'Admin UI'
      operationId: exportAdminCryptoStatusController
      summary: 'Export (AdminCryptoStatusController)'
      x-controller: 'AdminCryptoStatusController::export'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/dashboard:
    get:
      tags:
        - 'Admin UI'
      operationId: dashboardAdminController
      summary: 'Dashboard (AdminController)'
      x-controller: 'AdminController::dashboard'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/data-breach:
    get:
      tags:
        - 'Admin UI'
      operationId: databreachindexAdminGdprController
      summary: 'Data Breach Index (AdminGdprController)'
      x-controller: 'AdminGdprController::dataBreachIndex'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/data-breach/new:
    get:
      tags:
        - 'Admin UI'
      operationId: databreachnewformAdminGdprController
      summary: 'Data Breach New Form (AdminGdprController)'
      x-controller: 'AdminGdprController::dataBreachNewForm'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - 'Admin UI'
      operationId: databreachcreateAdminGdprController
      summary: 'Data Breach Create (AdminGdprController)'
      x-controller: 'AdminGdprController::dataBreachCreate'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/data-breach/{id}':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Admin UI'
      operationId: databreachshowAdminGdprController
      summary: 'Data Breach Show (AdminGdprController)'
      x-controller: 'AdminGdprController::dataBreachShow'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/data-breach/{id}/action':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: databreachactionAdminGdprController
      summary: 'Data Breach Action (AdminGdprController)'
      x-controller: 'AdminGdprController::dataBreachAction'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/data-requests:
    get:
      tags:
        - 'Admin UI'
      operationId: datarequestsindexAdminGdprController
      summary: 'Data Requests Index (AdminGdprController)'
      x-controller: 'AdminGdprController::dataRequestsIndex'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/data-requests/{id}':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Admin UI'
      operationId: datarequestsshowAdminGdprController
      summary: 'Data Requests Show (AdminGdprController)'
      x-controller: 'AdminGdprController::dataRequestsShow'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/data-requests/{id}/action':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: datarequestsactionAdminGdprController
      summary: 'Data Requests Action (AdminGdprController)'
      x-controller: 'AdminGdprController::dataRequestsAction'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/gdpr/authority-export:
    get:
      tags:
        - 'Admin UI'
      operationId: authorityexportpageAdminGdprController
      summary: 'Authority Export Page (AdminGdprController)'
      x-controller: 'AdminGdprController::authorityExportPage'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - 'Admin UI'
      operationId: authorityexportsubmitAdminGdprController
      summary: 'Authority Export Submit (AdminGdprController)'
      x-controller: 'AdminGdprController::authorityExportSubmit'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/infrastructure:
    get:
      tags:
        - 'Admin UI'
      operationId: pageAdminInfrastructureController
      summary: 'Page (AdminInfrastructureController)'
      x-controller: 'AdminInfrastructureController::page'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/institutes:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminInstitutesController
      summary: 'Index (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/institutes/adozioni:
    get:
      tags:
        - 'Admin UI'
      operationId: adozionipreviewAdminInstitutesController
      summary: 'Adozioni Preview (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::adozioniPreview'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/institutes/adozioni/apply:
    post:
      tags:
        - 'Admin UI'
      operationId: adozioniapplyAdminInstitutesController
      summary: 'Adozioni Apply (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::adozioniApply'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/institutes/miur/adozioni:
    post:
      tags:
        - 'Admin UI'
      operationId: adozioniuploadAdminInstitutesController
      summary: 'Adozioni Upload (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::adozioniUpload'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/institutes/miur/update:
    post:
      tags:
        - 'Admin UI'
      operationId: miurupdateAdminInstitutesController
      summary: 'Miur Update (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::miurUpdate'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/institutes/new:
    get:
      tags:
        - 'Admin UI'
      operationId: newformAdminInstitutesController
      summary: 'New Form (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::newForm'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - 'Admin UI'
      operationId: createAdminInstitutesController
      summary: 'Create (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::create'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/institutes/{id}/active':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: toggleactiveAdminInstitutesController
      summary: 'Toggle Active (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::toggleActive'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/logs:
    get:
      tags:
        - 'Admin UI'
      operationId: pageAdminLogsController
      summary: 'Page (AdminLogsController)'
      x-controller: 'AdminLogsController::page'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/logs/api/{table}':
    parameters:
      -
        name: table
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Admin UI'
      operationId: apiqueryAdminLogsController
      summary: 'Api Query (AdminLogsController)'
      x-controller: 'AdminLogsController::apiQuery'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/migrate:
    get:
      tags:
        - 'Admin UI'
      operationId: pageAdminMigrateController
      summary: 'Page (AdminMigrateController)'
      x-controller: 'AdminMigrateController::page'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/migrate/status:
    get:
      tags:
        - 'Admin UI'
      operationId: statusAdminMigrateController
      summary: 'Status (AdminMigrateController)'
      x-controller: 'AdminMigrateController::status'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/monitoring:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminMonitoringController
      summary: 'Index (AdminMonitoringController)'
      x-controller: 'AdminMonitoringController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/sections:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminSectionsController
      summary: 'Index (AdminSectionsController)'
      x-controller: 'AdminSectionsController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/sections/assign:
    post:
      tags:
        - 'Admin UI'
      operationId: assignAdminSectionsController
      summary: 'Assign (AdminSectionsController)'
      x-controller: 'AdminSectionsController::assign'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sections/revoke:
    post:
      tags:
        - 'Admin UI'
      operationId: revokeAdminSectionsController
      summary: 'Revoke (AdminSectionsController)'
      x-controller: 'AdminSectionsController::revoke'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sections/student:
    post:
      tags:
        - 'Admin UI'
      operationId: studentAdminSectionsController
      summary: 'Student (AdminSectionsController)'
      x-controller: 'AdminSectionsController::student'
      x-middleware:
        - csrf
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sections/subjects:
    post:
      tags:
        - 'Admin UI'
      operationId: subjectsAdminSectionsController
      summary: 'Subjects (AdminSectionsController)'
      x-controller: 'AdminSectionsController::subjects'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sidebar-config:
    get:
      tags:
        - 'Admin UI'
      operationId: pageAdminSidebarConfigController
      summary: 'Page (AdminSidebarConfigController)'
      x-controller: 'AdminSidebarConfigController::page'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/sidebar-config/delete:
    post:
      tags:
        - 'Admin UI'
      operationId: deleteAdminSidebarConfigController
      summary: 'Delete (AdminSidebarConfigController)'
      x-controller: 'AdminSidebarConfigController::delete'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sidebar-config/reorder:
    post:
      tags:
        - 'Admin UI'
      operationId: reorderAdminSidebarConfigController
      summary: 'Reorder (AdminSidebarConfigController)'
      x-controller: 'AdminSidebarConfigController::reorder'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sidebar-config/save:
    post:
      tags:
        - 'Admin UI'
      operationId: saveAdminSidebarConfigController
      summary: 'Save (AdminSidebarConfigController)'
      x-controller: 'AdminSidebarConfigController::save'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/subprocessors:
    get:
      tags:
        - 'Admin UI'
      operationId: subprocessorsindexAdminGdprController
      summary: 'Subprocessors Index (AdminGdprController)'
      x-controller: 'AdminGdprController::subprocessorsIndex'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/subprocessors/new:
    get:
      tags:
        - 'Admin UI'
      operationId: subprocessorsnewformAdminGdprController
      summary: 'Subprocessors New Form (AdminGdprController)'
      x-controller: 'AdminGdprController::subprocessorsNewForm'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/subprocessors/save:
    post:
      tags:
        - 'Admin UI'
      operationId: subprocessorssaveAdminGdprController
      summary: 'Subprocessors Save (AdminGdprController)'
      x-controller: 'AdminGdprController::subprocessorsSave'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/subprocessors/{id}/delete':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: subprocessorsdeleteAdminGdprController
      summary: 'Subprocessors Delete (AdminGdprController)'
      x-controller: 'AdminGdprController::subprocessorsDelete'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/subprocessors/{id}/edit':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Admin UI'
      operationId: subprocessorseditformAdminGdprController
      summary: 'Subprocessors Edit Form (AdminGdprController)'
      x-controller: 'AdminGdprController::subprocessorsEditForm'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/system/2fa-enforce:
    post:
      tags:
        - 'Admin UI'
      operationId: twofactorenforcesetAdminSystemController
      summary: 'Two Factor Enforce Set (AdminSystemController)'
      x-controller: 'AdminSystemController::twoFactorEnforceSet'
      x-middleware:
        - csrf
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/capability/assign:
    post:
      tags:
        - 'Admin UI'
      operationId: capabilityassignAdminSystemController
      summary: 'Capability Assign (AdminSystemController)'
      x-controller: 'AdminSystemController::capabilityAssign'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/capability/profile/delete:
    post:
      tags:
        - 'Admin UI'
      operationId: capabilityprofiledeleteAdminSystemController
      summary: 'Capability Profile Delete (AdminSystemController)'
      x-controller: 'AdminSystemController::capabilityProfileDelete'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/capability/profile/save:
    post:
      tags:
        - 'Admin UI'
      operationId: capabilityprofilesaveAdminSystemController
      summary: 'Capability Profile Save (AdminSystemController)'
      x-controller: 'AdminSystemController::capabilityProfileSave'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/deployment:
    get:
      tags:
        - 'Admin UI'
      operationId: deploymentpageAdminSystemController
      summary: 'Deployment Page (AdminSystemController)'
      x-controller: 'AdminSystemController::deploymentPage'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/system/deployment/switch:
    post:
      tags:
        - 'Admin UI'
      operationId: deploymentswitchAdminSystemController
      summary: 'Deployment Switch (AdminSystemController)'
      x-controller: 'AdminSystemController::deploymentSwitch'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/registration-classes/add:
    post:
      tags:
        - 'Admin UI'
      operationId: registrationclassaddAdminSystemController
      summary: 'Registration Class Add (AdminSystemController)'
      x-controller: 'AdminSystemController::registrationClassAdd'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/registration-classes/remove:
    post:
      tags:
        - 'Admin UI'
      operationId: registrationclassremoveAdminSystemController
      summary: 'Registration Class Remove (AdminSystemController)'
      x-controller: 'AdminSystemController::registrationClassRemove'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/registration-mode:
    post:
      tags:
        - 'Admin UI'
      operationId: registrationmodesetAdminSystemController
      summary: 'Registration Mode Set (AdminSystemController)'
      x-controller: 'AdminSystemController::registrationModeSet'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/tos-enforce:
    post:
      tags:
        - 'Admin UI'
      operationId: tosenforcesetAdminSystemController
      summary: 'Tos Enforce Set (AdminSystemController)'
      x-controller: 'AdminSystemController::tosEnforceSet'
      x-middleware:
        - csrf
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/takedown:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminTakedownController
      summary: 'Index (AdminTakedownController)'
      x-controller: 'AdminTakedownController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/takedown/{id}':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Admin UI'
      operationId: showAdminTakedownController
      summary: 'Show (AdminTakedownController)'
      x-controller: 'AdminTakedownController::show'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/takedown/{id}/action':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: actionAdminTakedownController
      summary: 'Action (AdminTakedownController)'
      x-controller: 'AdminTakedownController::action'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/templates:
    get:
      tags:
        - 'Admin UI'
      operationId: pageTemplatesAdminController
      summary: 'Page (TemplatesAdminController)'
      x-controller: 'TemplatesAdminController::page'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/tools:
    get:
      tags:
        - 'Admin UI'
      operationId: pageAdminToolsController
      summary: 'Page (AdminToolsController)'
      x-controller: 'AdminToolsController::page'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/tools/hash:
    get:
      tags:
        - 'Admin UI'
      operationId: hashtoolpageAdminController
      summary: 'Hash Tool Page (AdminController)'
      x-controller: 'AdminController::hashToolPage'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/tos-log:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminTosLogController
      summary: 'Index (AdminTosLogController)'
      x-controller: 'AdminTosLogController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/whoami:
    get:
      tags:
        - 'Admin UI'
      operationId: whoamiAdminController
      summary: 'Who Am I (AdminController)'
      x-controller: 'AdminController::whoAmI'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /analytics/nav:
    post:
      tags:
        - Misc
      operationId: navbeaconAnalyticsController
      summary: 'Nav Beacon (AnalyticsController)'
      x-controller: 'AnalyticsController::navBeacon'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/ValidationError'
  /api/access/status:
    get:
      tags:
        - 'API Public'
      operationId: studentstatusTeacherCredentialController
      summary: 'Student Status (TeacherCredentialController)'
      x-controller: 'TeacherCredentialController::studentStatus'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/access/student-login:
    post:
      tags:
        - 'API Public'
      operationId: studentloginTeacherCredentialController
      summary: 'Student Login (TeacherCredentialController)'
      x-controller: 'TeacherCredentialController::studentLogin'
      x-middleware:
        - csrf
        - rate
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
        400:
          $ref: '#/components/responses/ValidationError'
  /api/access/student-logout:
    post:
      tags:
        - 'API Public'
      operationId: studentlogoutTeacherCredentialController
      summary: 'Student Logout (TeacherCredentialController)'
      x-controller: 'TeacherCredentialController::studentLogout'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /api/admin/badge-style-presets:
    get:
      tags:
        - Admin
      operationId: adminlistBadgeStyleController
      summary: 'Admin List (BadgeStyleController)'
      x-controller: 'BadgeStyleController::adminList'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/admin/badge-style-presets/{name}':
    parameters:
      -
        name: name
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Admin
      operationId: admingetBadgeStyleController
      summary: 'Admin Get (BadgeStyleController)'
      x-controller: 'BadgeStyleController::adminGet'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
    put:
      tags:
        - Admin
      operationId: adminputBadgeStyleController
      summary: 'Admin Put (BadgeStyleController)'
      x-controller: 'BadgeStyleController::adminPut'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Admin
      operationId: admindeleteBadgeStyleController
      summary: 'Admin Delete (BadgeStyleController)'
      x-controller: 'BadgeStyleController::adminDelete'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/gdpr/teacher-content-search:
    get:
      tags:
        - Admin
      operationId: teachercontentsearchAdminGdprController
      summary: 'Teacher Content Search (AdminGdprController)'
      x-controller: 'AdminGdprController::teacherContentSearch'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/infrastructure.json:
    get:
      tags:
        - Admin
      operationId: snapshotjsonAdminInfrastructureController
      summary: 'Snapshot Json (AdminInfrastructureController)'
      x-controller: 'AdminInfrastructureController::snapshotJson'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/latex-shortcuts:
    get:
      tags:
        - Admin
      operationId: adminlistLatexShortcutsController
      summary: 'Admin List (LatexShortcutsController)'
      x-controller: 'LatexShortcutsController::adminList'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/notifications:
    get:
      tags:
        - Admin
      operationId: notificationsAdminController
      summary: 'Notifications (AdminController)'
      x-controller: 'AdminController::notifications'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/security/anomalies:
    get:
      tags:
        - Admin
      operationId: anomaliesSecurityAdminController
      summary: 'Anomalies (SecurityAdminController)'
      x-controller: 'SecurityAdminController::anomalies'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/security/blocked-credentials:
    get:
      tags:
        - Admin
      operationId: listblockedcredentialsSecurityAdminController
      summary: 'List Blocked Credentials (SecurityAdminController)'
      x-controller: 'SecurityAdminController::listBlockedCredentials'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/security/blocked-ips:
    get:
      tags:
        - Admin
      operationId: listblockedipsSecurityAdminController
      summary: 'List Blocked Ips (SecurityAdminController)'
      x-controller: 'SecurityAdminController::listBlockedIps'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/security/config:
    get:
      tags:
        - Admin
      operationId: getconfigSecurityAdminController
      summary: 'Get Config (SecurityAdminController)'
      x-controller: 'SecurityAdminController::getConfig'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/security/live-blocks:
    get:
      tags:
        - Admin
      operationId: liveblocksSecurityAdminController
      summary: 'Live Blocks (SecurityAdminController)'
      x-controller: 'SecurityAdminController::liveBlocks'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/users:
    get:
      tags:
        - Admin
      operationId: indexUsersAdminController
      summary: 'Index (UsersAdminController)'
      x-controller: 'UsersAdminController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/verifica/files:
    get:
      tags:
        - Admin
      operationId: listfilesVerificaFilesAdminController
      summary: 'List Files (VerificaFilesAdminController)'
      x-controller: 'VerificaFilesAdminController::listFiles'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/verifica/files/read:
    get:
      tags:
        - Admin
      operationId: readfileVerificaFilesAdminController
      summary: 'Read File (VerificaFilesAdminController)'
      x-controller: 'VerificaFilesAdminController::readFile'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/verifica/preamble:
    get:
      tags:
        - Admin
      operationId: getVerificaPreambleAdminController
      summary: 'Get (VerificaPreambleAdminController)'
      x-controller: 'VerificaPreambleAdminController::get'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/admin/verifica/scopes:
    get:
      tags:
        - Admin
      operationId: listscopesVerificaFilesAdminController
      summary: 'List Scopes (VerificaFilesAdminController)'
      x-controller: 'VerificaFilesAdminController::listScopes'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/institutes:
    get:
      tags:
        - 'API Public'
      operationId: indexInstituteController
      summary: 'Index (InstituteController)'
      x-controller: 'InstituteController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/latex-shortcuts/effective:
    get:
      tags:
        - 'API Public'
      operationId: effectiveLatexShortcutsController
      summary: 'Effective (LatexShortcutsController)'
      x-controller: 'LatexShortcutsController::effective'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/maps/dl:
    get:
      tags:
        - 'API Public'
      operationId: downloadMapsController
      summary: 'Download (MapsController)'
      x-controller: 'MapsController::download'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/maps/{id}/signed-url':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'API Public'
      operationId: signedurlMapsController
      summary: 'Signed Url (MapsController)'
      x-controller: 'MapsController::signedUrl'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/public/study/content.json:
    get:
      tags:
        - 'API Public'
      operationId: publiccontentjsonContentStudyController
      summary: 'Public Content Json (ContentStudyController)'
      x-controller: 'ContentStudyController::publicContentJson'
      x-middleware:
        - 'rate:pub_study,120'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        429:
          $ref: '#/components/responses/RateLimited'
  /api/public/study/topics.json:
    get:
      tags:
        - 'API Public'
      operationId: publictopicsjsonContentStudyController
      summary: 'Public Topics Json (ContentStudyController)'
      x-controller: 'ContentStudyController::publicTopicsJson'
      x-middleware:
        - 'rate:pub_study,120'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        429:
          $ref: '#/components/responses/RateLimited'
  '/api/risdoc/compilations/{id}':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Risdoc Templates'
      operationId: showCompilationController
      summary: 'Show (CompilationController)'
      x-controller: 'CompilationController::show'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/risdoc/curriculum-options:
    get:
      tags:
        - 'Risdoc Templates'
      operationId: optionsCurriculumOptionsController
      summary: 'Options (CurriculumOptionsController)'
      x-controller: 'CurriculumOptionsController::options'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/risdoc/exports/{file}':
    parameters:
      -
        name: file
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Risdoc Templates'
      operationId: serveExportController
      summary: 'Serve (ExportController)'
      x-controller: 'ExportController::serve'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/risdoc/options-sources:
    get:
      tags:
        - 'Risdoc Templates'
      operationId: optionssourcesTemplateController
      summary: 'Options Sources (TemplateController)'
      x-controller: 'TemplateController::optionsSources'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/risdoc/shared/{file}':
    parameters:
      -
        name: file
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Risdoc Templates'
      operationId: sharedassetTemplateController
      summary: 'Shared Asset (TemplateController)'
      x-controller: 'TemplateController::sharedAsset'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/risdoc/teacher/instances:
    get:
      tags:
        - 'Risdoc Templates'
      operationId: teacherallinstancesTemplateController
      summary: 'Teacher All Instances (TemplateController)'
      x-controller: 'TemplateController::teacherAllInstances'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/risdoc/templates:
    get:
      tags:
        - 'Risdoc Templates'
      operationId: indexTemplateController
      summary: 'Index (TemplateController)'
      x-controller: 'TemplateController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/risdoc/templates/{id}':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Risdoc Templates'
      operationId: showTemplateController
      summary: 'Show (TemplateController)'
      x-controller: 'TemplateController::show'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/risdoc/templates/{id}/compilations':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Risdoc Templates'
      operationId: indexCompilationController
      summary: 'Index (CompilationController)'
      x-controller: 'CompilationController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/risdoc/templates/{id}/drift':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Risdoc Templates'
      operationId: driftstatusTemplateController
      summary: 'Drift Status (TemplateController)'
      x-controller: 'TemplateController::driftStatus'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/risdoc/templates/{id}/file':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Risdoc Templates'
      operationId: fileTemplateController
      summary: 'File (TemplateController)'
      x-controller: 'TemplateController::file'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/risdoc/templates/{id}/instances':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Risdoc Templates'
      operationId: instanceslistTemplateController
      summary: 'Instances List (TemplateController)'
      x-controller: 'TemplateController::instancesList'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/risdoc/templates/{id}/institutional-overrides':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Risdoc Templates'
      operationId: institutionaloverrideslistTemplateController
      summary: 'Institutional Overrides List (TemplateController)'
      x-controller: 'TemplateController::institutionalOverridesList'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/risdoc/templates/{id}/json-files':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Risdoc Templates'
      operationId: jsonfilesTemplateController
      summary: 'Json Files (TemplateController)'
      x-controller: 'TemplateController::jsonFiles'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/risdoc/templates/{id}/overrides':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Risdoc Templates'
      operationId: overrideslistTemplateController
      summary: 'Overrides List (TemplateController)'
      x-controller: 'TemplateController::overridesList'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/risdoc/templates/{id}/schema':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Risdoc Templates'
      operationId: schemaTemplateController
      summary: 'Schema (TemplateController)'
      x-controller: 'TemplateController::schema'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/risdoc/templates/{id}/tex':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Risdoc Templates'
      operationId: texTemplateController
      summary: 'Tex (TemplateController)'
      x-controller: 'TemplateController::tex'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/scuole:
    get:
      tags:
        - 'API Public'
      operationId: searchSchoolsController
      summary: 'Search (SchoolsController)'
      x-controller: 'SchoolsController::search'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/sidebar/config:
    get:
      tags:
        - 'API Public'
      operationId: configSidebarConfigController
      summary: 'Config (SidebarConfigController)'
      x-controller: 'SidebarConfigController::config'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/sidepage/topics:
    get:
      tags:
        - 'API Public'
      operationId: topicsSidepageController
      summary: 'Topics (SidepageController)'
      x-controller: 'SidepageController::topics'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/sources/common:
    get:
      tags:
        - 'API Public'
      operationId: sourcescommonjsonStudySourcesController
      summary: 'Sources Common Json (StudySourcesController)'
      x-controller: 'StudySourcesController::sourcesCommonJson'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/studio/exercise/{id}.json':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'API Public'
      operationId: exercisejsonExerciseStudyController
      summary: 'Exercise Json (ExerciseStudyController)'
      x-controller: 'ExerciseStudyController::exerciseJson'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/studio/exercises.json:
    get:
      tags:
        - 'API Public'
      operationId: exercisesjsonExerciseStudyController
      summary: 'Exercises Json (ExerciseStudyController)'
      x-controller: 'ExerciseStudyController::exercisesJson'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/studio/topics.json:
    get:
      tags:
        - 'API Public'
      operationId: topicsjsonExerciseStudyController
      summary: 'Topics Json (ExerciseStudyController)'
      x-controller: 'ExerciseStudyController::topicsJson'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/study/content.json:
    get:
      tags:
        - 'API Public'
      operationId: contentjsonContentStudyController
      summary: 'Content Json (ContentStudyController)'
      x-controller: 'ContentStudyController::contentJson'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/study/content/{id}.json':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'API Public'
      operationId: contentsinglejsonContentStudyController
      summary: 'Content Single Json (ContentStudyController)'
      x-controller: 'ContentStudyController::contentSingleJson'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/study/header-page.json:
    get:
      tags:
        - 'API Public'
      operationId: headerpagestudentjsonStudyHeaderController
      summary: 'Header Page Student Json (StudyHeaderController)'
      x-controller: 'StudyHeaderController::headerPageStudentJson'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/study/related-verifiche.html:
    get:
      tags:
        - 'API Public'
      operationId: relatedverificahtmlContentStudyController
      summary: 'Related Verifica Html (ContentStudyController)'
      x-controller: 'ContentStudyController::relatedVerificaHtml'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/study/topics.json:
    get:
      tags:
        - 'API Public'
      operationId: topicsjsonContentStudyController
      summary: 'Topics Json (ContentStudyController)'
      x-controller: 'ContentStudyController::topicsJson'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/study/verifica/list:
    get:
      tags:
        - 'API Public'
      operationId: listforstudentVerificaController
      summary: 'List For Student (VerificaController)'
      x-controller: 'VerificaController::listForStudent'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/teacher/badge-style:
    get:
      tags:
        - 'API Public'
      operationId: teachergetBadgeStyleController
      summary: 'Teacher Get (BadgeStyleController)'
      x-controller: 'BadgeStyleController::teacherGet'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
    put:
      tags:
        - 'API Public'
      operationId: teacherputBadgeStyleController
      summary: 'Teacher Put (BadgeStyleController)'
      x-controller: 'BadgeStyleController::teacherPut'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/ValidationError'
  /api/teacher/capabilities:
    get:
      tags:
        - 'API Public'
      operationId: capabilitiesTeacherContentController
      summary: 'Capabilities (TeacherContentController)'
      x-controller: 'TeacherContentController::capabilities'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/teacher/category-labels:
    get:
      tags:
        - 'API Public'
      operationId: listTeacherCategoryLabelController
      summary: 'List (TeacherCategoryLabelController)'
      x-controller: 'TeacherCategoryLabelController::list'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/teacher/checked-origins.json:
    get:
      tags:
        - 'API Public'
      operationId: checkedoriginsjsonStudySourcesController
      summary: 'Checked Origins Json (StudySourcesController)'
      x-controller: 'StudySourcesController::checkedOriginsJson'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
    put:
      tags:
        - 'API Public'
      operationId: checkedoriginssaveStudySourcesController
      summary: 'Checked Origins Save (StudySourcesController)'
      x-controller: 'StudySourcesController::checkedOriginsSave'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/ValidationError'
  /api/teacher/content:
    get:
      tags:
        - 'Teacher Content'
      operationId: teacherContentIndex
      summary: 'List teacher content (filtered)'
      x-controller: 'TeacherContentController::index'
      responses:
        200:
          description: 'Content list'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeacherContentList'
          headers:
            ETag:
              schema:
                type: string
                example: '"a1b2c3d4..."'
            Cache-Control:
              schema:
                type: string
                example: 'private, max-age=30, must-revalidate'
        401:
          $ref: '#/components/responses/Unauthorized'
        304:
          description: 'Not Modified (ETag match)'
        503:
          description: 'Database unavailable'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: |
        Returns teacher_content rows with optional filters. ETag conditional
        GET supportato (Phase 17 + Phase 25.A4 client cache): se If-None-Match
        matcha la signature corrente (max updated_at + count) ritorna 304.
      parameters:
        -
          name: type
          in: query
          schema:
            type: string
            enum:
              - esercizio
              - verifica
              - lab
              - mappa
              - risdoc
              - bes
        -
          name: subject
          in: query
          schema:
            type: string
            example: MAT
        -
          name: indirizzo
          in: query
          schema:
            type: string
            example: ITIA
        -
          name: classe
          in: query
          schema:
            type: string
            example: 3A
        -
          name: visibility
          in: query
          schema:
            type: string
            enum:
              - draft
              - published
              - archived
        -
          name: with_metadata
          in: query
          schema:
            type: integer
            enum:
              - 0
              - 1
        -
          name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
        -
          name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
        -
          name: If-None-Match
          in: header
          schema:
            type: string
  '/api/teacher/content/{id}':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Teacher Content'
      operationId: showTeacherContentController
      summary: 'Show (TeacherContentController)'
      x-controller: 'TeacherContentController::show'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/teacher/content/{id}/contract':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Teacher Content'
      operationId: contractContentExportController
      summary: 'Contract (ContentExportController)'
      x-controller: 'ContentExportController::contract'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/teacher/content/{id}/export-html':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Teacher Content'
      operationId: exporthtmlContentExportController
      summary: 'Export Html (ContentExportController)'
      x-controller: 'ContentExportController::exportHtml'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/teacher/credentials:
    get:
      tags:
        - 'API Public'
      operationId: indexTeacherCredentialController
      summary: 'Index (TeacherCredentialController)'
      x-controller: 'TeacherCredentialController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/teacher/curriculum:
    get:
      tags:
        - 'API Public'
      operationId: indexCurriculumController
      summary: 'Index (CurriculumController)'
      x-controller: 'CurriculumController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/teacher/curriculum/pivot:
    get:
      tags:
        - 'API Public'
      operationId: listmineTeacherCurriculumPivotController
      summary: 'List Mine (TeacherCurriculumPivotController)'
      x-controller: 'TeacherCurriculumPivotController::listMine'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/teacher/drawio/libraries:
    get:
      tags:
        - 'API Public'
      operationId: listTeacherDrawioLibraryController
      summary: 'List (TeacherDrawioLibraryController)'
      x-controller: 'TeacherDrawioLibraryController::list'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/api/teacher/drawio/libraries/read/{name}':
    parameters:
      -
        name: name
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'API Public'
      operationId: readTeacherDrawioLibraryController
      summary: 'Read (TeacherDrawioLibraryController)'
      x-controller: 'TeacherDrawioLibraryController::read'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/teacher/github/status:
    get:
      tags:
        - 'API Public'
      operationId: statusTeacherGitHubController
      summary: 'Status (TeacherGitHubController)'
      x-controller: 'TeacherGitHubController::status'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /api/teacher/header-page.json:
    get:
      tags:
        - 'API Public'
      operationId: headerpagejsonStudyHeaderController
      summary: 'Header Page Json (StudyHeaderController)'
      x-controller: 'StudyHeaderController::headerPageJson'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
[...]
