openapi: 3.1.0
info:
  title: 'Pantedu API'
  version: 1.0.0
  description: |
    REST API per Pantedu, la piattaforma didattica.

    **Generato automaticamente** da `tools/api/generate_openapi.php`, che
    legge le rotte dal vero `App\Core\Router` (non da un'analisi del
    testo): copre ogni rotta dichiarata in `routes/web.php`, a qualunque
    livello di gruppo annidato. Le annotazioni request/response schema sui
    endpoint critici restano manuali (overlay, sezione `paths` di
    `docs/api/openapi.full.yaml`); il resto è scheletro (path, verbo,
    handler, middleware) senza schema di dettaglio.

    Auth: session cookie (PANTEDU_SID, httponly, samesite=Lax) o Bearer
    token solo su `/metrics`.
  contact:
    name: 'DPO Pantedu'
    url: 'https://pantedu.eu/dpo-contact'
  license:
    name: Proprietary
servers:
  -
    url: 'https://www.pantedu.eu'
    description: Production
  -
    url: 'http://127.0.0.1:8765'
    description: 'Local dev (WSL, tools/dev/wsl/server.sh)'
tags:
  -
    name: Misc
  -
    name: 'API Public'
  -
    name: Auth
  -
    name: 'GDPR self-service (Art. 7/15-22)'
  -
    name: 'GDPR parent consent (Art. 8)'
  -
    name: 'GDPR DPO contact (Art. 12-22, 37-39)'
  -
    name: 'Admin UI'
  -
    name: Admin
  -
    name: 'Trust Pages'
  -
    name: Observability
  -
    name: Registration
  -
    name: Storage
  -
    name: 'Legacy Education'
  -
    name: Studio
  -
    name: 'Teacher Content'
  -
    name: 'Risdoc Templates'
  -
    name: Risdoc
components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: PANTEDU_SID
      description: 'Session cookie httponly + samesite=Lax + secure (prod).'
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token (solo su `/metrics`, env METRICS_BEARER_TOKEN).'
    csrfHeader:
      type: apiKey
      in: header
      name: X-CSRF-Token
      description: |
        Token CSRF richiesto su POST/PUT/PATCH/DELETE. Recuperabile via
        GET /auth/csrf. Alternativa: campo form `_csrf`.
  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          example: invalid_credentials
        retry_after:
          type: integer
          description: 'Seconds before retry (rate limit)'
    Success:
      type: object
      properties:
        ok:
          type: boolean
          example: true
    User:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        role:
          type: string
          enum:
            - guest
            - student
            - teacher
            - institute_admin
            - administrator
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        active:
          type: boolean
    Consent:
      type: object
      properties:
        consent_type:
          type: string
          enum:
            - analytics
            - marketing
            - parent_8_minor
        status:
          type: string
          enum:
            - granted
            - revoked
        granted_at:
          type: string
          format: date-time
        revoked_at:
          type: string
          format: date-time
          nullable: true
        text_version:
          type: string
    DeletionRequest:
      type: object
      properties:
        id:
          type: integer
        status:
          type: string
          enum:
            - pending_confirm
            - cooling_off
            - executed
            - cancelled
            - expired
        execute_after:
          type: string
          format: date-time
          nullable: true
    TeacherContent:
      type: object
      properties:
        id:
          type: integer
        teacher_id:
          type: integer
        content_type:
          type: string
          enum:
            - esercizio
            - verifica
            - lab
            - mappa
            - risdoc
            - bes
        subject_code:
          type: string
          example: MAT
        indirizzo:
          type: string
          example: ITIA
        classe:
          type: string
          example: 3A
        topic:
          type: string
        title:
          type: string
        visibility:
          type: string
          enum:
            - draft
            - published
            - archived
        metadata:
          type: object
          additionalProperties: true
        updated_at:
          type: string
          format: date-time
    LoginRequest:
      type: object
      required:
        - username
        - password
        - _csrf
      properties:
        username:
          type: string
          maxLength: 50
          example: docente1
        password:
          type: string
          format: password
          minLength: 8
          example: ••••••••
        _csrf:
          type: string
          description: 'CSRF token from GET /auth/csrf'
        redirect:
          type: string
          description: 'Path to redirect after successful login (whitelist /-prefixed only)'
          example: /
    LoginSuccess:
      type: object
      properties:
        ok:
          type: boolean
          example: true
        username:
          type: string
        role:
          type: string
          enum:
            - student
            - teacher
            - institute_admin
            - administrator
    RegistrationRequest:
      type: object
      required:
        - username
        - email
        - password
        - first_name
        - last_name
        - role
        - accept_tos
        - _csrf
      properties:
        username:
          type: string
          maxLength: 50
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
        first_name:
          type: string
          maxLength: 100
        last_name:
          type: string
          maxLength: 100
        role:
          type: string
          enum:
            - student
            - teacher
        institute_id:
          type: integer
          description: 'Required for student role'
        birth_date:
          type: string
          format: date
          description: |
            Required if role=student. Birth date YYYY-MM-DD.
            Se età < 14 (Italia D.Lgs. 101/2018), richiede `parent_email`.
        parent_email:
          type: string
          format: email
          description: |
            Required if studente minore (< 14 anni). Innesca workflow Art. 8 GDPR
            con doppio opt-in genitore (token TTL 30g).
        parent_name:
          type: string
          description: 'Optional, for personalized parent email greeting'
        accept_tos:
          type: boolean
          description: 'Must be true (Art. 7 GDPR)'
        _csrf:
          type: string
    ConsentGrantRequest:
      type: object
      required:
        - consent_type
        - _csrf
      properties:
        consent_type:
          type: string
          enum:
            - analytics
            - marketing
            - parent_8_minor
        text_version:
          type: string
          description: 'Version of informativa to consent to (e.g. v2.0)'
        _csrf:
          type: string
    ConsentList:
      type: object
      properties:
        consents:
          type: array
          items:
            $ref: '#/components/schemas/Consent'
    DeletionRequestSubmit:
      type: object
      required:
        - _csrf
      properties:
        reason:
          type: string
          maxLength: 500
          description: 'Optional reason text'
        _csrf:
          type: string
    DeletionRequestSuccess:
      type: object
      properties:
        ok:
          type: boolean
        request_id:
          type: integer
        confirm_token_sent_to:
          type: string
          format: email
          description: 'User email — token in email body, not in API response'
    ParentConsentConfirmRequest:
      type: object
      required:
        - _csrf
      properties:
        action:
          type: string
          enum:
            - confirm
            - reject
        _csrf:
          type: string
    ProfilePatchRequest:
      type: object
      properties:
        first_name:
          type: string
          maxLength: 100
        last_name:
          type: string
          maxLength: 100
        email:
          type: string
          format: email
        _csrf:
          type: string
    ExportData:
      type: object
      description: |
        GDPR Art. 20 portability — user data + consents + content + overrides.
        Returned as JSON download (Content-Disposition: attachment).
      properties:
        user:
          $ref: '#/components/schemas/User'
        consents:
          type: array
          items:
            $ref: '#/components/schemas/Consent'
        teacher_content:
          type: array
          items:
            $ref: '#/components/schemas/TeacherContent'
        risdoc_overrides:
          type: array
          items:
            type: object
            properties:
              template_id:
                type: integer
              instance_key:
                type: string
              kind:
                type: string
                enum:
                  - html
                  - tex
                  - css
                  - json
                  - image
                  - texCommon
              relative_path:
                type: string
              body:
                type: string
                nullable: true
        exported_at:
          type: string
          format: date-time
    DpoContactRequest:
      type: object
      required:
        - name
        - email
        - subject
        - message
      properties:
        name:
          type: string
          maxLength: 100
        email:
          type: string
          format: email
        subject:
          type: string
          enum:
            - access
            - rectification
            - erasure
            - portability
            - restriction
            - objection
            - consent_revoke
            - breach_report
            - other
        message:
          type: string
          maxLength: 5000
        url_field:
          type: string
          description: 'Honeypot anti-spam — must be empty'
          example: ''
    TeacherContentList:
      type: object
      properties:
        ok:
          type: boolean
        count:
          type: integer
        rows:
          type: array
          items:
            $ref: '#/components/schemas/TeacherContent'
    MetricsResponse:
      type: string
      description: |
        Prometheus exposition format text/plain version=0.0.4. Gauge + counter
        aggregati: users_total, teacher_content_total, consents_active_total,
        deletion_requests_total, dpo_requests_total, parent_consents_total,
        crypto_keys_total, crypto_access_24h_total, app_info.
      example: |
        # HELP pantedu_app_info Application info
        # TYPE pantedu_app_info gauge
        pantedu_app_info{version="25.E"} 1
        # HELP pantedu_users_total Users by role and status
        # TYPE pantedu_users_total gauge
        pantedu_users_total{role="teacher",status="active"} 12
  responses:
    Unauthorized:
      description: 'Authentication required'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: 'CSRF token invalid or insufficient privileges'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 'Resource not found'
    RateLimited:
      description: 'Rate limit exceeded'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: 'Invalid input (missing/malformed field)'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
security:
  -
    sessionAuth: {  }
paths:
  /:
    get:
      tags:
        - Misc
      operationId: indexHomeController
      summary: 'Index (HomeController)'
      x-controller: 'HomeController::index'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /Elementi_Riservati.html:
    get:
      tags:
        - Misc
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: 'AdminPartialController::show'
      x-middleware:
        - auth
        - 'role:teacher'
        - teacher_subjects
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - Misc
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: 'AdminPartialController::show'
      x-middleware:
        - auth
        - 'role:teacher'
        - teacher_subjects
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/ValidationError'
    put:
      tags:
        - Misc
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: 'AdminPartialController::show'
      x-middleware:
        - auth
        - 'role:teacher'
        - teacher_subjects
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/ValidationError'
    patch:
      tags:
        - Misc
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: 'AdminPartialController::show'
      x-middleware:
        - auth
        - 'role:teacher'
        - teacher_subjects
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        400:
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Misc
      operationId: showAdminPartialController
      summary: 'Show (AdminPartialController)'
      x-controller: 'AdminPartialController::show'
      x-middleware:
        - auth
        - 'role:teacher'
        - teacher_subjects
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /accessibility:
    get:
      tags:
        - Misc
      operationId: accessibilityTrustPagesController
      summary: 'Accessibility (TrustPagesController)'
      x-controller: 'TrustPagesController::accessibility'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /accesso-classe:
    get:
      tags:
        - Misc
      operationId: showclassaccessAuthController
      summary: 'Show Class Access (AuthController)'
      x-controller: 'AuthController::showClassAccess'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /accesso-classe/esci:
    post:
      tags:
        - Misc
      operationId: classaccesslogoutAuthController
      summary: 'Class Access Logout (AuthController)'
      x-controller: 'AuthController::classAccessLogout'
      x-middleware:
        - csrf
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /accesso-classe/pacchetto.svg:
    get:
      tags:
        - Misc
      operationId: bundlesvgTeacherCredentialController
      summary: 'Bundle Svg (TeacherCredentialController)'
      x-controller: 'TeacherCredentialController::bundleSvg'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/accesso-classe/qr/{token}':
    parameters:
      -
        name: token
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Misc
      operationId: qrloginTeacherCredentialController
      summary: 'Qr Login (TeacherCredentialController)'
      x-controller: 'TeacherCredentialController::qrLogin'
      x-middleware:
        - 'rate:qr,20'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        429:
          $ref: '#/components/responses/RateLimited'
  /admin:
    get:
      tags:
        - 'Admin UI'
      operationId: pageAdminToolsController
      summary: 'Page (AdminToolsController)'
      x-controller: 'AdminToolsController::page'
      x-middleware:
        - auth
        - 'role:admin'
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/access-log:
    get:
      tags:
        - 'Admin UI'
      operationId: accesslogAdminController
      summary: 'Access Log (AdminController)'
      x-controller: 'AdminController::accessLog'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - 'sadmin_audit:admin_read,user_records'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/access-stats:
    get:
      tags:
        - 'Admin UI'
      operationId: accessstatsAdminController
      summary: 'Access Stats (AdminController)'
      x-controller: 'AdminController::accessStats'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - 'sadmin_audit:admin_read,user_records'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/analytics:
    get:
      tags:
        - 'Admin UI'
      operationId: pageAdminAnalyticsController
      summary: 'Page (AdminAnalyticsController)'
      x-controller: 'AdminAnalyticsController::page'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - 'sadmin_audit:admin_read,cross_teacher_analytics'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/backup:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminBackupController
      summary: 'Index (AdminBackupController)'
      x-controller: 'AdminBackupController::index'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/backup/b2-verified:
    post:
      tags:
        - 'Admin UI'
      operationId: b2verifiedAdminBackupController
      summary: 'B2Verified (AdminBackupController)'
      x-controller: 'AdminBackupController::b2Verified'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:backup_b2_verified,backup'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/backup/cold-completed:
    post:
      tags:
        - 'Admin UI'
      operationId: coldcompletedAdminBackupController
      summary: 'Cold Completed (AdminBackupController)'
      x-controller: 'AdminBackupController::coldCompleted'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:backup_cold_completed,backup'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/crypto-status:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminCryptoStatusController
      summary: 'Index (AdminCryptoStatusController)'
      x-controller: 'AdminCryptoStatusController::index'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/crypto-status/event:
    post:
      tags:
        - 'Admin UI'
      operationId: recordeventAdminCryptoStatusController
      summary: 'Record Event (AdminCryptoStatusController)'
      x-controller: 'AdminCryptoStatusController::recordEvent'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:crypto_event_record,crypto_custody'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/crypto-status/export:
    get:
      tags:
        - 'Admin UI'
      operationId: exportAdminCryptoStatusController
      summary: 'Export (AdminCryptoStatusController)'
      x-controller: 'AdminCryptoStatusController::export'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/curriculum:
    get:
      tags:
        - 'Admin UI'
      operationId: closuregetadmincurriculum
      summary: 'GET admin curriculum (closure)'
      x-controller: (closure)
      x-middleware:
        - auth
        - 'role:teacher'
        - teacher_subjects
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/dashboard:
    get:
      tags:
        - 'Admin UI'
      operationId: dashboardAdminController
      summary: 'Dashboard (AdminController)'
      x-controller: 'AdminController::dashboard'
      x-middleware:
        - auth
        - 'role:admin'
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/data-breach:
    get:
      tags:
        - 'Admin UI'
      operationId: databreachindexAdminGdprController
      summary: 'Data Breach Index (AdminGdprController)'
      x-controller: 'AdminGdprController::dataBreachIndex'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/data-breach/new:
    get:
      tags:
        - 'Admin UI'
      operationId: databreachnewformAdminGdprController
      summary: 'Data Breach New Form (AdminGdprController)'
      x-controller: 'AdminGdprController::dataBreachNewForm'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - 'Admin UI'
      operationId: databreachcreateAdminGdprController
      summary: 'Data Breach Create (AdminGdprController)'
      x-controller: 'AdminGdprController::dataBreachCreate'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:data_breach_create,data_breach'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/data-breach/piano:
    get:
      tags:
        - 'Admin UI'
      operationId: databreachpianoAdminGdprController
      summary: 'Data Breach Piano (AdminGdprController)'
      x-controller: 'AdminGdprController::dataBreachPiano'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/data-breach/{id}':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Admin UI'
      operationId: databreachshowAdminGdprController
      summary: 'Data Breach Show (AdminGdprController)'
      x-controller: 'AdminGdprController::dataBreachShow'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/data-breach/{id}/action':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: databreachactionAdminGdprController
      summary: 'Data Breach Action (AdminGdprController)'
      x-controller: 'AdminGdprController::dataBreachAction'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:data_breach_action,data_breach'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/data-requests:
    get:
      tags:
        - 'Admin UI'
      operationId: datarequestsindexAdminGdprController
      summary: 'Data Requests Index (AdminGdprController)'
      x-controller: 'AdminGdprController::dataRequestsIndex'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/data-requests/{id}':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Admin UI'
      operationId: datarequestsshowAdminGdprController
      summary: 'Data Requests Show (AdminGdprController)'
      x-controller: 'AdminGdprController::dataRequestsShow'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/data-requests/{id}/action':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: datarequestsactionAdminGdprController
      summary: 'Data Requests Action (AdminGdprController)'
      x-controller: 'AdminGdprController::dataRequestsAction'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:data_request_action,gdpr_request'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/debug-log:
    get:
      tags:
        - 'Admin UI'
      operationId: debuglogAdminController
      summary: 'Debug Log (AdminController)'
      x-controller: 'AdminController::debugLog'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - 'sadmin_audit:admin_read,user_records'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/gdpr:
    get:
      tags:
        - 'Admin UI'
      operationId: closuregetadmingdpr
      summary: 'GET admin gdpr (closure)'
      x-controller: (closure)
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/gdpr/authority-export:
    get:
      tags:
        - 'Admin UI'
      operationId: authorityexportpageAdminGdprController
      summary: 'Authority Export Page (AdminGdprController)'
      x-controller: 'AdminGdprController::authorityExportPage'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - 'Admin UI'
      operationId: authorityexportsubmitAdminGdprController
      summary: 'Authority Export Submit (AdminGdprController)'
      x-controller: 'AdminGdprController::authorityExportSubmit'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:authority_export,gdpr_export'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/generate-hash:
    post:
      tags:
        - 'Admin UI'
      operationId: generatehashAdminController
      summary: 'Generate Hash (AdminController)'
      x-controller: 'AdminController::generateHash'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - csrf
        - rate
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/infrastructure:
    get:
      tags:
        - 'Admin UI'
      operationId: pageAdminInfrastructureController
      summary: 'Page (AdminInfrastructureController)'
      x-controller: 'AdminInfrastructureController::page'
      x-middleware:
        - auth
        - 'role:admin'
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/institutes:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminInstitutesController
      summary: 'Index (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::index'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/institutes/adozioni:
    get:
      tags:
        - 'Admin UI'
      operationId: adozionipreviewAdminInstitutesController
      summary: 'Adozioni Preview (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::adozioniPreview'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/institutes/adozioni/apply:
    post:
      tags:
        - 'Admin UI'
      operationId: adozioniapplyAdminInstitutesController
      summary: 'Adozioni Apply (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::adozioniApply'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:miur_adoptions_apply,adoptions'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/institutes/miur/adozioni:
    post:
      tags:
        - 'Admin UI'
      operationId: adozioniuploadAdminInstitutesController
      summary: 'Adozioni Upload (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::adozioniUpload'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:miur_adoptions_upload,adoptions'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/institutes/miur/update:
    post:
      tags:
        - 'Admin UI'
      operationId: miurupdateAdminInstitutesController
      summary: 'Miur Update (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::miurUpdate'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:miur_schools_update,miur_registry'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/institutes/new:
    get:
      tags:
        - 'Admin UI'
      operationId: newformAdminInstitutesController
      summary: 'New Form (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::newForm'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - 'Admin UI'
      operationId: createAdminInstitutesController
      summary: 'Create (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::create'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:institute_create,institute'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/institutes/{id}/active':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: toggleactiveAdminInstitutesController
      summary: 'Toggle Active (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::toggleActive'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:institute_active_toggle,institute'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/institutes/{id}/catalogo':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminCatalogoController
      summary: 'Index (AdminCatalogoController)'
      x-controller: 'AdminCatalogoController::index'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
        - 'Admin UI'
      operationId: aggiungiAdminCatalogoController
      summary: 'Aggiungi (AdminCatalogoController)'
      x-controller: 'AdminCatalogoController::aggiungi'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/institutes/{id}/catalogo/{entry}':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
      -
        name: entry
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - 'Admin UI'
      operationId: modificaAdminCatalogoController
      summary: 'Modifica (AdminCatalogoController)'
      x-controller: 'AdminCatalogoController::modifica'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/institutes/{id}/compilation-storage':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: togglecompilationstorageAdminInstitutesController
      summary: 'Toggle Compilation Storage (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::toggleCompilationStorage'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:institute_compilation_storage,institute'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/institutes/{id}/sezioni-docenti':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: impostasezionidocentiAdminInstitutesController
      summary: 'Imposta Sezioni Docenti (AdminInstitutesController)'
      x-controller: 'AdminInstitutesController::impostaSezioniDocenti'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:institute_teacher_sections_policy,institute'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/logs:
    get:
      tags:
        - 'Admin UI'
      operationId: pageAdminLogsController
      summary: 'Page (AdminLogsController)'
      x-controller: 'AdminLogsController::page'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/logs/api/{table}':
    parameters:
      -
        name: table
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Admin UI'
      operationId: apiqueryAdminLogsController
      summary: 'Api Query (AdminLogsController)'
      x-controller: 'AdminLogsController::apiQuery'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/migrate:
    get:
      tags:
        - 'Admin UI'
      operationId: pageAdminMigrateController
      summary: 'Page (AdminMigrateController)'
      x-controller: 'AdminMigrateController::page'
      x-middleware:
        - auth
        - 'role:admin'
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/migrate/run:
    post:
      tags:
        - 'Admin UI'
      operationId: runAdminMigrateController
      summary: 'Run (AdminMigrateController)'
      x-controller: 'AdminMigrateController::run'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - csrf
        - rate
        - 'audit_reason:db_migrate,database'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/migrate/status:
    get:
      tags:
        - 'Admin UI'
      operationId: statusAdminMigrateController
      summary: 'Status (AdminMigrateController)'
      x-controller: 'AdminMigrateController::status'
      x-middleware:
        - auth
        - 'role:admin'
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/monitoring:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminMonitoringController
      summary: 'Index (AdminMonitoringController)'
      x-controller: 'AdminMonitoringController::index'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/print:
    post:
      tags:
        - 'Admin UI'
      operationId: generateAdminPrintController
      summary: 'Generate (AdminPrintController)'
      x-controller: 'AdminPrintController::generate'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - csrf
        - rate
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/print/batch:
    post:
      tags:
        - 'Admin UI'
      operationId: batchAdminPrintController
      summary: 'Batch (AdminPrintController)'
      x-controller: 'AdminPrintController::batch'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - csrf
        - rate
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/registrations:
    get:
      tags:
        - 'Admin UI'
      operationId: listpendingRegistrationController
      summary: 'List Pending (RegistrationController)'
      x-controller: 'RegistrationController::listPending'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - 'sadmin_audit:admin_read,user_records'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/registrations/{id}/approve':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: approveRegistrationController
      summary: 'Approve (RegistrationController)'
      x-controller: 'RegistrationController::approve'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - 'sadmin_audit:admin_read,user_records'
        - csrf
        - rate
        - 'audit_reason:registration_approve,registration_request'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/registrations/{id}/reject':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: rejectRegistrationController
      summary: 'Reject (RegistrationController)'
      x-controller: 'RegistrationController::reject'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - 'sadmin_audit:admin_read,user_records'
        - csrf
        - rate
        - 'audit_reason:registration_reject,registration_request'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/risdoc:
    get:
      tags:
        - 'Admin UI'
      operationId: pageRisdocAdminController
      summary: 'Page (RisdocAdminController)'
      x-controller: 'RisdocAdminController::page'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - 'sadmin_audit:admin_read,teacher_content'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/risdoc/pending/{id}/preview':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Admin UI'
      operationId: pendingpreviewpageRisdocAdminController
      summary: 'Pending Preview Page (RisdocAdminController)'
      x-controller: 'RisdocAdminController::pendingPreviewPage'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - 'sadmin_audit:admin_read,teacher_content'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/sections:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminSectionsController
      summary: 'Index (AdminSectionsController)'
      x-controller: 'AdminSectionsController::index'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/sections/anteprima-revoca:
    get:
      tags:
        - 'Admin UI'
      operationId: anteprimarevocaAdminSectionsController
      summary: 'Anteprima Revoca (AdminSectionsController)'
      x-controller: 'AdminSectionsController::anteprimaRevoca'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/sections/assign:
    post:
      tags:
        - 'Admin UI'
      operationId: assignAdminSectionsController
      summary: 'Assign (AdminSectionsController)'
      x-controller: 'AdminSectionsController::assign'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:teacher_sections_assign,teacher_sections'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sections/materiali:
    post:
      tags:
        - 'Admin UI'
      operationId: materialiAdminSectionsController
      summary: 'Materiali (AdminSectionsController)'
      x-controller: 'AdminSectionsController::materiali'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sections/revoke:
    post:
      tags:
        - 'Admin UI'
      operationId: revokeAdminSectionsController
      summary: 'Revoke (AdminSectionsController)'
      x-controller: 'AdminSectionsController::revoke'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:teacher_sections_revoke,teacher_sections'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sections/scadenza:
    post:
      tags:
        - 'Admin UI'
      operationId: scadenzaAdminSectionsController
      summary: 'Scadenza (AdminSectionsController)'
      x-controller: 'AdminSectionsController::scadenza'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:leftover_materials_deadline,teacher_sections'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sections/student:
    post:
      tags:
        - 'Admin UI'
      operationId: studentAdminSectionsController
      summary: 'Student (AdminSectionsController)'
      x-controller: 'AdminSectionsController::student'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sections/subjects:
    post:
      tags:
        - 'Admin UI'
      operationId: subjectsAdminSectionsController
      summary: 'Subjects (AdminSectionsController)'
      x-controller: 'AdminSectionsController::subjects'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:teacher_subjects_set,teacher_subjects'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sidebar-config:
    get:
      tags:
        - 'Admin UI'
      operationId: pageAdminSidebarConfigController
      summary: 'Page (AdminSidebarConfigController)'
      x-controller: 'AdminSidebarConfigController::page'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/sidebar-config/delete:
    post:
      tags:
        - 'Admin UI'
      operationId: deleteAdminSidebarConfigController
      summary: 'Delete (AdminSidebarConfigController)'
      x-controller: 'AdminSidebarConfigController::delete'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:sidebar_section_delete,sidebar_config'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sidebar-config/pubblica-in-rete:
    post:
      tags:
        - 'Admin UI'
      operationId: pubblicainreteAdminSidebarConfigController
      summary: 'Pubblica In Rete (AdminSidebarConfigController)'
      x-controller: 'AdminSidebarConfigController::pubblicaInRete'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sidebar-config/reorder:
    post:
      tags:
        - 'Admin UI'
      operationId: reorderAdminSidebarConfigController
      summary: 'Reorder (AdminSidebarConfigController)'
      x-controller: 'AdminSidebarConfigController::reorder'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:sidebar_sections_reorder,sidebar_config'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/sidebar-config/save:
    post:
      tags:
        - 'Admin UI'
      operationId: saveAdminSidebarConfigController
      summary: 'Save (AdminSidebarConfigController)'
      x-controller: 'AdminSidebarConfigController::save'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:sidebar_section_save,sidebar_config'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/subprocessors:
    get:
      tags:
        - 'Admin UI'
      operationId: subprocessorsindexAdminGdprController
      summary: 'Subprocessors Index (AdminGdprController)'
      x-controller: 'AdminGdprController::subprocessorsIndex'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/subprocessors/new:
    get:
      tags:
        - 'Admin UI'
      operationId: subprocessorsnewformAdminGdprController
      summary: 'Subprocessors New Form (AdminGdprController)'
      x-controller: 'AdminGdprController::subprocessorsNewForm'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/subprocessors/save:
    post:
      tags:
        - 'Admin UI'
      operationId: subprocessorssaveAdminGdprController
      summary: 'Subprocessors Save (AdminGdprController)'
      x-controller: 'AdminGdprController::subprocessorsSave'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:subprocessor_save,subprocessor'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/subprocessors/{id}/delete':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: subprocessorsdeleteAdminGdprController
      summary: 'Subprocessors Delete (AdminGdprController)'
      x-controller: 'AdminGdprController::subprocessorsDelete'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:subprocessor_delete,subprocessor'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/subprocessors/{id}/edit':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Admin UI'
      operationId: subprocessorseditformAdminGdprController
      summary: 'Subprocessors Edit Form (AdminGdprController)'
      x-controller: 'AdminGdprController::subprocessorsEditForm'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/system/2fa-enforce:
    post:
      tags:
        - 'Admin UI'
      operationId: twofactorenforcesetAdminSystemController
      summary: 'Two Factor Enforce Set (AdminSystemController)'
      x-controller: 'AdminSystemController::twoFactorEnforceSet'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/capability/assign:
    post:
      tags:
        - 'Admin UI'
      operationId: capabilityassignAdminSystemController
      summary: 'Capability Assign (AdminSystemController)'
      x-controller: 'AdminSystemController::capabilityAssign'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:capability_assign,capability'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/capability/profile/delete:
    post:
      tags:
        - 'Admin UI'
      operationId: capabilityprofiledeleteAdminSystemController
      summary: 'Capability Profile Delete (AdminSystemController)'
      x-controller: 'AdminSystemController::capabilityProfileDelete'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:capability_profile_delete,capability'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/capability/profile/save:
    post:
      tags:
        - 'Admin UI'
      operationId: capabilityprofilesaveAdminSystemController
      summary: 'Capability Profile Save (AdminSystemController)'
      x-controller: 'AdminSystemController::capabilityProfileSave'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:capability_profile_save,capability'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/deployment:
    get:
      tags:
        - 'Admin UI'
      operationId: deploymentpageAdminSystemController
      summary: 'Deployment Page (AdminSystemController)'
      x-controller: 'AdminSystemController::deploymentPage'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/system/deployment/switch:
    post:
      tags:
        - 'Admin UI'
      operationId: deploymentswitchAdminSystemController
      summary: 'Deployment Switch (AdminSystemController)'
      x-controller: 'AdminSystemController::deploymentSwitch'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:deployment_switch,deployment'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/registration-classes/add:
    post:
      tags:
        - 'Admin UI'
      operationId: registrationclassaddAdminSystemController
      summary: 'Registration Class Add (AdminSystemController)'
      x-controller: 'AdminSystemController::registrationClassAdd'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:registration_class_add,registration'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/registration-classes/remove:
    post:
      tags:
        - 'Admin UI'
      operationId: registrationclassremoveAdminSystemController
      summary: 'Registration Class Remove (AdminSystemController)'
      x-controller: 'AdminSystemController::registrationClassRemove'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:registration_class_remove,registration'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/registration-mode:
    post:
      tags:
        - 'Admin UI'
      operationId: registrationmodesetAdminSystemController
      summary: 'Registration Mode Set (AdminSystemController)'
      x-controller: 'AdminSystemController::registrationModeSet'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:registration_mode_set,registration'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/system/tos-enforce:
    post:
      tags:
        - 'Admin UI'
      operationId: tosenforcesetAdminSystemController
      summary: 'Tos Enforce Set (AdminSystemController)'
      x-controller: 'AdminSystemController::tosEnforceSet'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/takedown:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminTakedownController
      summary: 'Index (AdminTakedownController)'
      x-controller: 'AdminTakedownController::index'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/takedown/{id}':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    get:
      tags:
        - 'Admin UI'
      operationId: showAdminTakedownController
      summary: 'Show (AdminTakedownController)'
      x-controller: 'AdminTakedownController::show'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  '/admin/takedown/{id}/action':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: actionAdminTakedownController
      summary: 'Action (AdminTakedownController)'
      x-controller: 'AdminTakedownController::action'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
        - csrf
        - 'audit_reason:takedown_decision,takedown_request'
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/templates:
    get:
      tags:
        - 'Admin UI'
      operationId: pageTemplatesAdminController
      summary: 'Page (TemplatesAdminController)'
      x-controller: 'TemplatesAdminController::page'
      x-middleware:
        - auth
        - 'role:admin'
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/tools:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminController
      summary: 'Index (AdminController)'
      x-controller: 'AdminController::index'
      x-middleware:
        - auth
        - 'role:admin'
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/tools/hash:
    get:
      tags:
        - 'Admin UI'
      operationId: hashtoolpageAdminController
      summary: 'Hash Tool Page (AdminController)'
      x-controller: 'AdminController::hashToolPage'
      x-middleware:
        - auth
        - 'role:admin'
        - log
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/tos-log:
    get:
      tags:
        - 'Admin UI'
      operationId: indexAdminTosLogController
      summary: 'Index (AdminTosLogController)'
      x-controller: 'AdminTosLogController::index'
      x-middleware:
        - auth
        - 'role:admin'
        - super_admin_required
        - log
        - 'sadmin_audit:admin_read,governance'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/waf:
    get:
      tags:
        - 'Admin UI'
      operationId: indexWafAdminController
      summary: 'Index (WafAdminController)'
      x-controller: 'WafAdminController::index'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/waf/anomalies:
    get:
      tags:
        - 'Admin UI'
      operationId: anomaliespageWafAdminController
      summary: 'Anomalies Page (WafAdminController)'
      x-controller: 'WafAdminController::anomaliesPage'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/waf/api/blacklist:
    post:
      tags:
        - 'Admin UI'
      operationId: apiaddblacklistWafAdminController
      summary: 'Api Add Blacklist (WafAdminController)'
      x-controller: 'WafAdminController::apiAddBlacklist'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - csrf
        - rate
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/waf/api/blacklist/{id}':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    delete:
      tags:
        - 'Admin UI'
      operationId: apideleteblacklistWafAdminController
      summary: 'Api Delete Blacklist (WafAdminController)'
      x-controller: 'WafAdminController::apiDeleteBlacklist'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - csrf
        - rate
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
  /admin/waf/api/config:
    post:
      tags:
        - 'Admin UI'
      operationId: apiupdateconfigWafAdminController
      summary: 'Api Update Config (WafAdminController)'
      x-controller: 'WafAdminController::apiUpdateConfig'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - csrf
        - rate
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/waf/api/counters:
    get:
      tags:
        - 'Admin UI'
      operationId: apicountersWafAdminController
      summary: 'Api Counters (WafAdminController)'
      x-controller: 'WafAdminController::apiCounters'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/waf/api/cti:
    get:
      tags:
        - 'Admin UI'
      operationId: apictiWafAdminController
      summary: 'Api Cti (WafAdminController)'
      x-controller: 'WafAdminController::apiCti'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - csrf
        - rate
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
  /admin/waf/api/logs:
    get:
      tags:
        - 'Admin UI'
      operationId: apilogsWafAdminController
      summary: 'Api Logs (WafAdminController)'
      x-controller: 'WafAdminController::apiLogs'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
  /admin/waf/api/rules:
    post:
      tags:
        - 'Admin UI'
      operationId: apicreateruleWafAdminController
      summary: 'Api Create Rule (WafAdminController)'
      x-controller: 'WafAdminController::apiCreateRule'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - csrf
        - rate
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
        400:
          $ref: '#/components/responses/ValidationError'
  '/admin/waf/api/rules/{id}':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    put:
      tags:
        - 'Admin UI'
      operationId: apiupdateruleWafAdminController
      summary: 'Api Update Rule (WafAdminController)'
      x-controller: 'WafAdminController::apiUpdateRule'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - csrf
        - rate
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
        400:
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - 'Admin UI'
      operationId: apideleteruleWafAdminController
      summary: 'Api Delete Rule (WafAdminController)'
      x-controller: 'WafAdminController::apiDeleteRule'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - csrf
        - rate
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
  '/admin/waf/api/rules/{id}/toggle':
    parameters:
      -
        name: id
        in: path
        required: true
        schema:
          type: integer
    post:
      tags:
        - 'Admin UI'
      operationId: apitoggleruleWafAdminController
      summary: 'Api Toggle Rule (WafAdminController)'
      x-controller: 'WafAdminController::apiToggleRule'
      x-middleware:
        - auth
        - 'role:admin'
        - log
        - super_admin_required
        - csrf
        - rate
        - audit_reason
      security:
        -
          sessionAuth: {  }
          csrfHeader: {  }
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        429:
          $ref: '#/components/responses/RateLimited'
        400:
          $ref: '#/components/responses/ValidationError'
  /admin/waf/api/threat-intel/sync:
    post:
      tags:
        - 'Admin UI'
      operationId: apithreatintelsyncWafAdminController
[...]
